/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 26, 2018, 9:50:52 AM
    Author     : Dell Inspiron
*/

.hiddeninfomap{display:none;}
.contentmap{
    height:100%;
    border:2px solid black
}

.sidebarmap{
    height:100%;
    border:2px solid black
}
