button.btn.btn-default.btn-filter-landing
{
    background-color: white;
    color: #777;
    border-color: #777;
}
button.btn.btn-default.btn-filter-landing>span.caret
{
    margin: 0px 3px;
}
button.btn.btn-default.btn-filter-landing>span.caret:before
{
}

#ListProvinsiTenant
{
    display: flex
}
#ListProvinsiTenant .caret
{
    flex-grow: unset !important;
}
#ListProvinsiTenant .dropdown-menu
{
    padding: 0px;
}

#ListProvinsiTenant .dropdown-menu[data-parent]
{
    max-height: 250px;
    overflow-y: auto;
}

#ListProvinsiTenant .list-group-item--daerah.as-link
{
}
#ListProvinsiTenant .list-group-item--daerah.as-link .list-group-item--parent-daerah
{

    padding: 10px 15px;
}
#ListProvinsiTenant .list-group-item--daerah
{
    width: 240px;
    cursor: pointer;
}
#ListProvinsiTenant .list-group-item--daerah:hover
{
    background-color: #ddd;
}
#ListProvinsiTenant .list-group-item--daerah .list-group-item--daerah
{
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


