	.filter-modal-toggling
	{
		position: relative;
	}
	.badge.filter-badge-notification.hide
	{
		display: none;
	}
	.badge.filter-badge-notification
	{
		position: absolute;
	    top: -3px;
	    right: -12px;
	    background-color: white;
	    border: 1px solid white;
	    border-radius: 50%;
	    padding: 5px;
	    width: 25px;
	    height: 25px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    font-size: 14px;
	    color: #ff0300;
	}

 	#a151454777 *::-webkit-scrollbar-track {
	    background: rgba(255,255,255,0.08);
	}

	#a151454777 *::-webkit-scrollbar-thumb {
	    background-color: rgba(0,0,0,0.2);
	}
	#a151454777 *::-webkit-scrollbar {
	    width: 6px !important;
	    height: 6px !important;
	} 


/* filter */
	#a151454777 
	{
		font-family: 'Roboto', sans-serif;
	}
	#a151454777 .filter
	{
		margin: 0 auto;
		background-color: white;
		border-radius: 10px;
		width: 100%;
		max-height: 90vh;
		/*overflow-y: auto;*/
		border: 1px solid #d3d3d3; 
		padding: 10px;
	}
	#a151454777 .filter .filter-basic--tab
	{
		box-shadow: unset;
		text-shadow: unset;
	}
	#a151454777 .filter .panel-left
	{	
		width: 32%;
	}
	#a151454777 .panel-right
	{
		width: 68%;
	}
	#a151454777 .filter.hide
	{
		display: none;
	}
	#a151454777 .tab-pane.filter-basic--filter-type
	{
		height: 200px; 
		overflow-y: auto;
	}
		#a151454777 .filter-session
		{
			border: 1px solid #ddd;
			display: inline-block;
			display: flex;
			/*justify-content: space-between;	*/
		}
		#a151454777 .filter-session .filter-session--item:not(:first-child)
		{
			cursor: pointer;
		}
		#a151454777 .filter-session .filter-session--item:hover:not(:first-child)
		{
			background-color: #ddd;
			color: #333;
		} 
		
		#a151454777 .filter-session .filter-session--item
		{
			padding: 5px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-right: 1px solid #ddd;			
			font-weight: 500;
			color: #b1aeae;
			font-family: 'Roboto', sans-serif;
		}

		#a151454777 .filter-session .filter-session--item.active
		{
			background-color: #ddd;
			border-bottom: 1px solid #ff0300;
			color: #333 !important;
		}

		#a151454777 .filter-session .filter-session--item.on .badge
		{
			background-color: #ff0300;
		}

		#a151454777 .filter-session .filter-session--item .badge.null-data
		{
			background-color: #777 !important;
		}

		#a151454777 .filter-session .filter-session--item:last-child
		{
			border-right: unset;
		}
		#a151454777 .filter-session .filter-session--item .tab-name
		{
		}
		
			#a151454777 .filter-session .filter-session--item .tab-name .badge
			{
				font-size: 10px;
				padding: 3px 5px;
			}
		
		#a151454777 footer.filter-basic--filter-type
		{
			display: flex;
			margin-top: 10px;
			background: unset;
		}

		#a151454777 .filter-basic--filter-type.active
		{
			display: flex !important;
			margin-top: 10px;

		}
			#a151454777 .filter-basic--filter-type .list-group--name
			{
				/*width: 30%;*/
			}
				#a151454777 .filter-basic--filter-type .list-group--name .list-group-item
				{
					background-image: unset;
					margin-bottom: 5px;
					border-radius: 5px;
					padding-top: 6px;
					padding-bottom: 6px;
					cursor: pointer;
				}
				
				#a151454777 .filter-basic--filter-type .list-group--name .list-group-item:hover
				{
					background-image: unset;
					background-color: #f5f5f5;
				}
				
				#a151454777 .filter-basic--filter-type .list-group--name .list-group-item.active
				{
					text-shadow: unset;
					background-image: unset;
					background-color: unset;
					color: #333;
					border-color: #ddd;
				}
				
				#a151454777 .filter-basic--filter-type .list-group--name .list-group-item.active .glyphicon-chevron-right
				{
					text-shadow: unset;
					background-image: unset;
					color: #EC644B;
				}
				
				#a151454777 .filter-type--active-sign
				{
					/*width: 80%;*/
					/*float: right;*/
					right: 0px;
					padding: 0px 10px;
					border-left: 1px solid #ddd;
					position: absolute;
				    top: 0px;
					padding-top: 7px;
				    height: 100%;
				}
			
			#a151454777 .filter-basic--filter-type .list-group--content
			{
				/*width: 67%;*/
				margin-left: 5px;
				padding-left: 5px;
				border-left: 1px solid #eee;
				max-height: 220px;
				overflow-y: auto; 
			}

		#a151454777 .kategori--item
		{
			padding-top: 5px;
			padding-bottom: 5px;
		}

		
	.list-group-pilihan-filter
	{
		border-left: unset;
		border-right: unset;
		border-radius: 0px !important; 
	}

/* accordion in filter "masakan" */
	#a151454777 .accordion
	{

	}
		#a151454777 .accordion-heading
		{
			padding: 5px 7px;
		}
		#a151454777 .accordion-heading.clickable
		{
			cursor: pointer;
		}
		#a151454777 .accordion[role="root"]>.accordion-heading
		{
			background-color: #ddd;

		}
		#a151454777 .accordion[role="child"]
		{
			margin-left: 4px;
			border-bottom: 1px solid #ddd;
		}

		#a151454777 .accordion[role="child"] .accordion--item
		{
			padding-top: 6px;
			padding-bottom: 6px;
			border-radius: 0px;
			border-top: unset;
			border-left: unset;
			border-right: unset;
			border-bottom: 1px solid #ddd;
		}

/*filter lanjutan*/
	#a151454777 .filter-advance
	{
		margin-top: 20px;
		min-height: 150px;
	}

		#a151454777 .filter-advance-options
		{
			margin-bottom: 4px;
		    font-size: 16px;
		    display: flex;
		    justify-content: space-around;
		    align-items: center;
		}

		#a151454777 .filter-advance-options .dropdown-advance-filter
		{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		#a151454777 .filter-advance-options .dropdown-advance-filter, .filter-advance-options .dropdown-menu
		{
			width: 200px;
		}

		#a151454777 .filter-advance-options .dropdown-advance-filter span:first-child
		{
			margin-right: 10px;
		}

	#a151454777 .filter-advance-options .dropdown-menu li
	{
		padding: 5px;
	}

	#a151454777 .filter-advance-options .dropdown-menu li label
	{
		width: 100%;
	}

	#a151454777 .filter-advance-options .btn-group
	{
		width: 100%;
		/*position: absolute;*/
		/*right: 0px;*/
	}

	#a151454777 .btn-outline-success
	{
		text-shadow: unset;
		background-color: white;
		color: #398439;
		border: 1px solid #398439;
		background-image: unset;
	}

	#a151454777 .btn-outline-success:hover,
	{
		background-image: unset;
		color: white !important;
	}

	#a151454777 .btn-outline-success:focus	
	{
		background-image: unset;
		background-color: white !important;
		color: #398439 !important;

	}

	#a151454777 #btn_clear_filter
	{
		margin-left: 10px;
	}

	#a151454777 .option-item--parent.active
	{
		background-color: #ddd;
		color: #333;
		border-color: #a9a8a8;
	}

/*switch toggle*/
	#a151454777 .switch {
		position: relative;
		display: inline-block;
		width: 20px;
		height: 14px;
		margin-bottom: 0px;
	}

	#a151454777 .switch input {display:none;}

	#a151454777 .slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
	}

	#a151454777 .slider:before {
		position: absolute;
		content: "";
		height: 10px;
		width: 10px;
		left: 1px;
		bottom: 2px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	}

#a151454777 input:checked + .slider {
		background-color: #ff0300;
	}

#a151454777 input:focus + .slider {
		box-shadow: 0 0 1px #2196F3;
	}

#a151454777 input:checked + .slider:before {
		-webkit-transform: translateX(8px);
		-ms-transform: translateX(8px);
		transform: translateX(8px);
	}
	#a151454777 .slider.round {
		border-radius: 5px;
	}

	#a151454777 .slider.round:before {
		border-radius: 50%;
	}

/*Tab Masakan*/
	#a151454777 .list-general-cooking--toggling-child
	{
		padding-left: 10px;
		margin-bottom: 1px;
	}

	#a151454777 .list-group-item--masakan
	{
		padding: 0px;
		border-bottom: unset;
		border-top: unset;
		border-left: unset !important;
		border-right: unset !important;
		border-radius: 0px !important;
	}
		#a151454777 .list-group-item--masakan .label-modify:not(.collapsible).active
		{
			border-bottom: 1px solid  #a9a8a8;
		}
		#a151454777 .list-group-item--masakan[data-deep="0"]
		{
			margin-bottom: 1px;
		}
		/*#a151454777 #list-group--general-cooking .list-group-item */
		#a151454777 .list-general-cooking--toggling-child--heading
		{
			padding: 5px 0px 5px 5px;
			position: relative;
			width: 100%;
			font-weight: 500;
		}
		#a151454777 .list-general-cooking--toggling-head
		{
			width: 100%;
			padding: 7px;
			margin-bottom: 0px;
		}
		#a151454777 .list-general-cooking--toggling-head.collapsible.parents
		{
			background-color: rgb(193,181,212);
			padding: 7px 5px;
			position: relative;
			font-weight: 700;
			font-family: 'Roboto', sans-serif;
		    text-shadow: unset;
		}
			#a151454777 .list-general-cooking--toggling-head.collapsible.parents.collapsed:after
			{
				content: "\e080";
			    position: absolute;
			    right: 10px;
			    font-family: 'Glyphicons Halflings';
			    -webkit-font-smoothing: antialiased;
			}
			#a151454777 .list-general-cooking--toggling-head.collapsible.parents:not(.collapsed):after
			{
			    transform: rotate(90deg);
				content: "\e080";
				position: absolute;
			    right: 10px;
			    font-family: 'Glyphicons Halflings';
			    -webkit-font-smoothing: antialiased;
			}
		#a151454777 .list-general-cooking--toggling-head.collapsible.parents .label-modify--active
		{
			visibility: hidden;
		}
		#a151454777  .list-group-item--masakan .label-modify {
		    padding: 5px;
		    margin-bottom: 0px;
		    border-bottom: 1px solid #ddd;
		}

		
		
/* multiple range */
	input[type=range] {
	   -webkit-appearance: none;
	  margin: 10px 0;
	  width: unset; 
	}

	input[type=range]:focus {
		  outline: none;
		}
	input[type=range]::-webkit-slider-runnable-track
		/* input[type=range]::-moz-range-track,
		input[type=range]::-ms-track */
		{
		  height: 15px;
		  cursor: pointer;
		  animate: 0.2s;
		  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		  background: #ddd;
		  border: 0px solid #000101;
		}

	input[type=range]::-webkit-slider-thumb
		/* input[type=range]::-moz-range-thumb,
		input[type=range]::-ms-thumb */
		{
		  box-shadow: 0px 0px 1px #ddd;
		  border: 3px solid white;
		  height: 20px;
		  width: 20px;
		  border-radius: 50%;
		  background: radial-gradient(#eee 10%, #ff0300 90%);
		  cursor: pointer;
		  -webkit-appearance: none;
		  margin-top: -3.6px;
		}
	input[type="range"].multirange.ghost {
		--range-color: #ff0300;
		--track-background: linear-gradient(
			to right, 
			transparent var(--low), 
			var(--range-color) 0,     
			var(--range-color) var(--high), 
			transparent 0) no-repeat 0 45% / 100% 80%
	}

	input[type=range]::-moz-range-track
	{
		height: 15px;
	  cursor: pointer;
	  animate: 0.2s;
	  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	  background: #ddd;
	  border: 0px solid #000101;
	}
	input[type=range]::-moz-range-thumb
	{
	  box-shadow: 0px 0px 1px #ddd;
	  border: 3px solid white;
	  height: 13px;
	  width: 13px;
	  border-radius: 50%;
	  background: radial-gradient(#eee 10%, #ff0300 90%);
	  cursor: pointer;
	  -webkit-appearance: none;
	  margin-top: -3.6px;
	}
	
	.range-labels
	{
		width: 100%;
	    height: 10px;
	    position: relative;
	    padding: 0px
	    margin: 0px;
	    font-size: 9px;

	}
	.range-labels span
	{
	    color: #777;
	    position: relative;
	    left: -50%;
	    top: 3px;
	}
	.range-labels li
	{
		display: inline;
		position: absolute;
	}
	.range-labels li:before {
	    content: "";
	    width: 1px;
	    height: 10px;
	    background-color: #ddd;
	    position: absolute;
	    top: -4px;
	    /* left: -5px; */
	}

	#a151454777 .col-harga
	{
		display: flex;
	}
		#a151454777 .col-harga--description
		{
			width: 16%;
			display: flex;
			justify-content: center;
		}
			#a151454777 .col-harga--description--icon
			{
				border: 2px solid #ff0300;
				border-radius: 50%;
				width: 30px;
				height: 30px;
				color: #ff0300;
				padding: 4px;
				font-weight: 500;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		#a151454777 .col-harga--range
		{
			width: 84%;
		}
			#a151454777 .col-harga--range-detail-input
			{
				display: flex;
				margin-top: 10px;
				justify-content: space-between;
				align-items: center;
			}
			#a151454777 .col-harga--range-detail-input *
			{
				display: inline;
			}
			#a151454777 .col-harga--range-detail-input input
			{
				font-family: 'Roboto';
	  	  		font-size: 16px;
				height: 30px;
				border-radius: 0px;
				width: 40% !important;
			}


#a151454777 button.dropdown-advance-filter
{
	color: #333;
    background-color: #fff;
    border-color: #ccc;
}
	/*to make ellipsis on button*/
	#a151454777 button.dropdown-advance-filter .dropdown-advance-filter--preview
	{
		text-overflow: ellipsis;
	    overflow-x: hidden;
	}
	#a151454777 .filter-advance-options .dropdown-menu
	{
		max-height: 230px;
		overflow-y: auto;
	}
#a151454777 .selection-halal--kind
{
	background-color: #ddd;
	text-align: right;
	font-size: 11px;
}
#a151454777 .selection-halal--kind .option-item--value
{
	margin-right: 5px;
}

/*ONLY for id a151454777-2*/
#a151454777-2.modal-dialog
{
	width: 480px;
}
	#a151454777 #a151454777-2 #filter-kategori--options-box
	{
		margin-top: 15px;
	}
	#a151454777 #a151454777-2 .filter-kategori--options
	{
		height: 50px;
	}
		#a151454777 #a151454777-2 .filter-kategori--options .btn-group
		{
			width: 100%;
		}
			#a151454777 #a151454777-2 .filter-kategori--options .btn-group .dropdown-toggle
			{
				display: flex;
				align-items: center;
				justify-content: space-between;
			}