@media (max-width: 767px) {

	#header-detail-kuliner-mobile{
		padding: 0 6px !important;
	}

	#header-detail-kuliner-mobile .col-point {
		margin-top: 0;
	}

	#header-detail-kuliner-mobile span.text-score{
		font-size: 16px;
	}

	#header-detail-kuliner-mobile .sum-score{
		width: 30px;
	}

	#header-detail-kuliner{
		margin-top: 0;
		padding-left: 0;
	}

	#header-detail-kuliner figure img {
		border-radius: 0; 
	}

	#header-detail-kuliner .tombol-jadwal-kuliner{
		color: #F2180C;
	}

	#header-detail-kuliner .breadcrumb-location, 
	#header-detail-kuliner .breadcrumb-location + .list-inline {
		font-size: 12px;
	}

	#header-detail-kuliner .breadcrumb-location{
		font-size: 12px;
		margin-left: 5px;
	}

	#header-detail-kuliner .breadcrumb-location + .list-inline {
		float: none !important;
		text-align: center;
		margin: 10px 0;
	}

	#header-detail-kuliner .judul-item-wisata{
		font-size: 17px;
                width: 87%;
	}
.breadcrumb-location li:first-child {
	margin-left: -5px;
}
	#header-detail-kuliner .judul-item-wisata span{
/*		display: none;*/
	}

	#header-detail-kuliner .atribut-item-wisata{
		font-size: 12px;
	}

	#header-detail-kuliner .alamat-kuliner img{
		vertical-align: top;
	}

	#header-detail-kuliner .alamat-kuliner span{
		width: 80%;
		display: inline-block;
	}

	#fasilitas-detail-kuliner{
		padding: 15px 5px;
		font-size: 18px;
	}

	#fasilitas-detail-kuliner a{
		color: #F2180C;
		font-size: 14px;
		margin-top: 5px;
	}

	#fasilitas-detail-kuliner a:hover,
	#fasilitas-detail-kuliner a:active,
	#fasilitas-detail-kuliner a:focus{
		text-decoration: none;
	}

	#fasilitas-detail-kuliner > ul > li {
		max-width: 25px;
	}

	#fasilitas-detail-kuliner .lebih-banyak{
		padding: 4px 10px;
	}
	
	#fasilitas-detail-kuliner .lebih-banyak ul li{
		width: 32%;
		margin: 0 auto;
		text-align: center;
		vertical-align: bottom;
	}

	#fasilitas-detail-kuliner .lebih-banyak ul li span{
		display: block;
		height: 35px;
		width: 100%;
	}

	#fasilitas-detail-kuliner .lebih-banyak ul li img {
		max-width: 40px;
	}

	#hashtag form input {
		display: inline-block;
		width: 59%;
	}

	.is-mobile,
	.is-mobile > .col-xs-12{
		padding: 0;
	}

	.mobile-slider .slick-prev,
	.mobile-slider .slick-next{
		z-index: 999;
	}

	.mobile-slider .slick-prev{
		left: -19px;
	}

	.mobile-slider .slick-next{
		right: -19px;
	}

	.mobile-slider .slick-next::before, 
	.mobile-slider .slick-prev::before {
		color: #A0A0A0;
	}

	#detail-foto-360 .mobile-slider .slick-prev,
	#foto-detail-kuliner .mobile-slider .slick-prev{
		left: -15px;
	}

	#detail-foto-360 .mobile-slider .slick-next,
	#foto-detail-kuliner .mobile-slider .slick-next{
		right: -15px;
	}

	#detail-daftar-menu .banyak-lagi label{
		width: 100%;
		margin-bottom: 2px;
	}

	.daftar-menu{
		padding: 2px;
	}

	#detail-daftar-menu h3,
	#detail-foto-360 h3,
	.tabs-kuliner .tab-item, 
	#foto-detail-kuliner{
		font-size: 18px;
	}

	.is-mobile.detail-kuliner-box {
		padding: 15px 10px;
	}

	.is-mobile.detail-kuliner-box .foto-360 {
		padding-left: 3px;
		padding-right: 3px;
		margin-bottom: 8px;
	}

	#detail-kuliner-informasi .detail-kuliner-box.top h4{
		font-size: 16px;
	}


	#detail-kuliner-informasi .detail-kuliner-box.bottom div:nth-child(2) h6{
		font-size: 7px;
		margin-top: 22px;
	}

	#detail-kuliner-informasi .detail-kuliner-box.bottom div:nth-child(3) a{
		margin-top: 33px;
	}

	#detail-kuliner-informasi .detail-kuliner-box.bottom div:nth-child(3) span{
		font-size: 7px;
	}

	.tabs-kuliner.tabs-flying{
		top: 0px;
		width: 100%;
	}

	#header-detail-kuliner.is-foto-kuliner .gambar-profil-kuliner{
		width: 100%;
	}

	#header-detail-kuliner.is-foto-kuliner .col-sm-8{
		padding-left: 12px;
	}

	#blog-wisata .footer img{
		max-width: 90px;
	}
}