body{
	background: #EFEFEF;
	font-family: 'Roboto', sans-serif;
}

.detail-kuliner-box{
	padding: 15px 25px;
	margin-bottom: 6px;
	background: rgba(255, 255, 255, 1);
}

.detail-kuliner-box .detail-title{
	margin-top: 0;
}

.text-truncate{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 190px;
	display: inline-block;
}

.tabs-flying{
	position: fixed;
	display: block;
	width: 100%;
	z-index: 99;
}

.banyak-lagi label{
	font-weight: lighter;
	color: #fff;
	background: rgba(0, 0, 0, 1);
	display: block;
	padding: 3px 0;
	position: absolute;
	z-index: 29;
	margin: 0;
	width: 100%;
	font-size: 12px;
	opacity: 0.7;
	border-radius: 0 0 3px 3px;
	bottom: 0;
	text-align: center;
}

#foto-detail-kuliner .banyak-lagi label,
#detail-foto-360 .banyak-lagi label{
	width: 94.5%;
}



#detail-daftar-menu .banyak-lagi label{
	width: 90%;
	padding: 5px 0;
	border-radius: 0;
}

.image-thumb:last-child a,
.banyak-lagi label a{
	color: #fff;
}


.judul-item-wisata span:last-child a{
	color: #E82529;
}

#header-detail-kuliner{
	padding: 5px 0 5px 10px;
	margin: 10px 0;
	background: rgb(255,255,255);
}

#header-detail-kuliner div:first-child{
	padding: 0;
}

#header-detail-kuliner figure{
	position: relative;
}

#header-detail-kuliner figure:hover .atribut-image-kuliner{
	display: block;
}

#header-detail-kuliner figure img{
	border-radius: 5px;
}

#header-detail-kuliner .atribut-image-kuliner {
	font-weight: lighter;
	color: #fff;
	background: rgba(0, 0, 0, 4);
	display: none;
	padding: 4px 11px;
	position: absolute;
	z-index: 29;
	text-transform: uppercase;
	margin: 0;
	width: 100%;
	font-size: 9px;
	opacity: 0.45;
	font-size: 14px;
}

#header-detail-kuliner .atribut-image-kuliner.top{
	top:0;
	border-radius: 5px 5px 0 0;
}

#header-detail-kuliner .atribut-image-kuliner.bottom{
	bottom: 0;
	border-radius: 0 0 5px 5px;
}

#header-detail-kuliner .image-thumbs{
	margin-top:5px;
}

#header-detail-kuliner .image-thumb{
	width: 20%;
	padding:0 2px;
	float: left;
}

#header-detail-kuliner .image-thumb img{
	border-radius: 3px;
}

#header-detail-kuliner .image-thumb img:hover{
	cursor: pointer;
}

#header-detail-kuliner .image-thumb:first-child {
	padding-left: 0px;
	padding-right: 2px;
}

#header-detail-kuliner .image-thumb:last-child {
	padding-right: 0px;
	position: relative;
}

#header-detail-kuliner .image-thumb:last-child label{
	font-weight: lighter;
	color: #fff;
	background: rgba(0, 0, 0, 1);
	display: block;
	padding: 3px 0;
	position: absolute;
	z-index: 29;
	margin: 0;
	width: 97%;
	font-size: 12px;
	opacity: 0.7;
	border-radius: 0 0 3px 3px;
	bottom: 0;
	text-align: center;
}

#header-detail-kuliner .image-thumb:last-child a:hover,
#detail-foto-360 .banyak-lagi a:hover,
#foto-detail-kuliner .banyak-lagi a:hover{
	text-decoration: none;
	color: rgb(232, 15, 10);
}

.breadcrumb-location,
.breadcrumb-location + .list-inline{
	padding-left: 0;
	margin-bottom: 0
}

.breadcrumb-location li{
	padding-left: 0;
	margin-left: -5px;
	display: inline-block;
	list-style: none;
	/*color: rgba(200,200,200,1);*/
	color: #88888A;
	font-weight: 400;
}

.breadcrumb-location a{
	padding-left: 0;
	/*	margin-left: -5px;*/
	display: inline-block;
	list-style: none;
	/*color: rgba(200,200,200,1);*/
	color: #88888A;
	font-weight: 400;
}


.breadcrumb-location li:first-child{
	margin-left: 0;
}

.breadcrumb-location> li + li:before {
	color: rgba(200,200,200,1);
	content: " > ";
	padding: 0 0px 0 5px;
}

#header-detail-kuliner .active-button{
	background: #29C7E2;
	border: 1px solid #29C7E2;
	width: 100px;
	vertical-align: baseline;
}

#header-detail-kuliner .deactive-button{
	background: #fff;
	color: #8F8F91;
	border: 3px solid #C9C9C9;
	height: 26px;
	width: 100px;
}

#header-detail-kuliner .deactive-button img{
	margin-top: -3px;
}

#header-detail-kuliner .judul-item-wisata{
	height: 50px;
	display: inline-block;
}

#header-detail-kuliner .status-jadwal-kuliner:hover{
	cursor: pointer;
}

#header-detail-kuliner .status-jadwal-kuliner:hover .jadwal-kuliner{
	display: inline-block;
	cursor: pointer;
}

#header-detail-kuliner .jadwal-kuliner{
	display: none;
	position: absolute;
	margin-top: 20px;
	left: 40px;
	z-index: 99;        
}

#header-detail-kuliner .jadwal-kuliner div{
	padding: 2px 20px 2px 8px;
	max-width: 225px;
}
#header-detail-kuliner .jadwal-kuliner div.hari-aktif span:nth-child(1),
#header-detail-kuliner .jadwal-kuliner div.hari-aktif span:nth-child(2),
#header-detail-kuliner .jadwal-kuliner div.hari-aktif span:nth-child(2):before{
	font-weight: 700;
}
#header-detail-kuliner .jadwal-kuliner div span:nth-child(1){
	width: 60px;
	display: inline-block;
	color: #434544;
}
#header-detail-kuliner .jadwal-kuliner div span:nth-child(2):before{
	content:' : ';
	display: inline-block;
	color: #434544;
	margin-right: 15px;
}
#header-detail-kuliner .jadwal-kuliner div span:nth-child(2){
	width: 127px;
	display: inline-block;
	color: #434544;
}
#header-detail-kuliner .jadwal-kuliner div:nth-child(even){
	background: #C2CEF4;
}

#header-detail-kuliner .jadwal-kuliner div:nth-child(odd){
	background: #E8E8E8;
}


/* Tag */
.tag {
	background: #818183;
	text-decoration: none;
	color: #fff;
	padding: 0px 2px 2px;
	border-radius: 3px;
	margin: 4px 3px;
	display: inline-block;
	font-size: 15px;
}

.tag:hover,
.tag:active{
	text-decoration: none;	
	color: #fff;
	background: #52ACF8;
}

#hashtag{
	background:#E8E8E8;
	text-align: center;
	margin-bottom: 15px;
	padding: 20px 30px 35px;
	margin-top: 20px;
}

#hashtag form label {
	font-weight: lighter;
	color: #98999B;
	font-size: 20px;
}

#hashtag form input {
	border-radius: 8px;
	height: 35px;
	margin: 0 10px 0 3px;
	width: 300px;
}

#hashtag form input:focus {
	border-color: #52ACF8;
}

#hashtag form button{
	background: #52ACF8;
	padding: 0 10px;
	border-radius: 10px;
}

#hashtag form button img{
	width: 35px;
}

.hashtag-title{
	color: #969A9b;
	border-bottom: 1px solid #969A9b;
	padding: 3px;
	margin: 20px;
	font-weight: 400;
}

#more-detail-info{
	background:#75D5FD;
	text-align: center;
	margin-bottom: 8px;
	padding: 5px;
}

#more-detail-info a,
#more-detail-info a:hover{
	color: #f75821;
	text-decoration: none;
	margin: 0 5px;
}



/* score */
div#score{
	margin-top:0;
	padding:1%;
	padding-left:0;
	height:100px;
	display: flex;
	justify-content: space-between;
}

div.col-point.sum{
	width:12%;
	height:auto;
	padding-left:0;
	margin-top:3%;
	float:left;
}

div.sum-score{
	background:#2D8E41;
	width:90%;
	border-radius:5px;
	text-align:center;
}

span.text-score{
	text-align:center;
	font-size:40px;
	color:#fff;
}

div.score{

	/*width:22%;*/
	float:left;
	height:100%;
	padding:0.5%;
	text-align:center;
}

.rating-box
{
	height: 18px;
	position: relative;
	display: flex;
}

.rating-item-1
{
	border: 1px solid #e80f0a;
}
.rating-item-1.active
{
	background-color: #e80f0a;
}
.rating-item-1--color
{
	/*color: #e41108 !important;*/
}
.rating-item-2
{
	border: 1px solid #ef1818;
}
.rating-item-2.active
{
	background-color: #ef1818;
}
.rating-item-2--color
{
	/*color: #ed1916 !important;*/
}
.rating-item-3
{
	border: 1px solid #f4740b;
}
.rating-item-3.active
{
	background-color: #f4740b;
}
.rating-item-3--color
{
	/*color: #f67309 !important;*/
}
.rating-item-4
{
	border: 1px solid #f98630;
}
.rating-item-4.active
{
	background-color: #f98630;
}
.rating-item-4--color
{
	/*color: #f9852e !important;*/
}
.rating-item-5
{
	border: 1px solid #f4c914;
}
.rating-item-5.active
{
	background-color: #f4c914;
}
.rating-item-5--color
{
	/*color: #f4c914 !important;*/
}
.rating-item-6
{
	border: 1px solid #f8e26f;
}
.rating-item-6.active
{
	background-color: #f8e26f;
}
.rating-item-6--color
{
	/*color: #f8e26f !important;*/
}
.rating-item-7
{
	border: 1px solid #a4ddc5;
}
.rating-item-7.active
{
	background-color: #a4ddc5;
}
.rating-item-7--color
{
	/*color: #a4ddc5 !important;*/
}
.rating-item-8
{
	border: 1px solid #6fc9a6;
}
.rating-item-8.active
{
	background-color: #6fc9a6;
}
.rating-item-8--color
{
	/*color: #6fc9a6 !important;*/
}
.rating-item-9
{
	border: 1px solid #18c814;
}
.rating-item-9.active
{
	background-color: #18c814;
}
.rating-item-9--color
{
	/*color: #18c814 !important;*/
}
.rating-item-10
{
	border: 1px solid #037b00;
}
.rating-item-10.active
{
	background-color: #037b00;
}
.rating-item-10--color
{
	/*color: #037b00 !important;*/
}

.rating-item
{
	width: 10px;
	margin-right: 1px;
	border-radius: 2px;
}

.rating-value
{
	color: #e80f0a;
	font-family:'Roboto';
	font-size:30px;
}


#header-detail-kuliner #score{
	color: #88888A;
	margin-top: -10px;
}

#header-detail-kuliner .score hr{
	margin: 5px 0 0;
}

#header-detail-kuliner .col-point{
	display: flex;
	flex-direction: column;
	justify-content: center;
}


/* Foto */
.foto-360{
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 10px;
}

.foto-360 img{
	border-radius: 3px;
	cursor: pointer;
}

.daftar-menu{
	padding-left: 9px;
	padding-right: 9px;
	margin-bottom: 10px;	
        width: auto;
}
.daftar-menu img {
	height: 100px;
	object-fit: cover;
	object-position: center;
	width: 156px;
}
 
#fasilitas-detail-kuliner{
	text-align: center;
	color: #828081;
	font-size: 20px;
	position: relative;
}

#fasilitas-detail-kuliner > ul{
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 0;
}
#fasilitas-detail-kuliner > ul > li{
	max-width: 30px;
	padding: 0 2px;
}

#fasilitas-detail-kuliner:hover{
	cursor: pointer;
}

#fasilitas-detail-kuliner:hover .lebih-banyak{
	display: block;
}

#fasilitas-detail-kuliner .lebih-banyak{
	position: absolute;
	display: none;
	background: #fff;
	border:1px solid #9B9B9B;
	z-index: 99;
	padding: 4px 30px;
	max-width: 92%;
	margin: 10px auto 0;
	left: 0;
	right: 0;
	box-shadow: 3px 3px 1px 1px rgba(5,5,5,.2);
}

#fasilitas-detail-kuliner .lebih-banyak h4{
	border-bottom: 1px solid #C3BDBD;;
	padding-bottom: 15px;
}

#fasilitas-detail-kuliner .lebih-banyak ul{
	font-weight: lighter;
	text-align: left;
	padding: 0;
        line-height: 44px;
}

#fasilitas-detail-kuliner .lebih-banyak ul li{
	display: inline-block;
	width: 32%;
	font-size: 13px;
}

#fasilitas-detail-kuliner .lebih-banyak ul li span {
	display: inline-block;
	width: 70%;
	vertical-align: top;
	padding-top: 3px;
	padding-left: 5px;
}

#fasilitas-detail-kuliner .lebih-banyak ul li img{
	max-width: 30px;
	padding: 0px;
	display: inline-block;
}

/*#foto-detail-kuliner .foto-360{
	max-height: 120px;
	overflow: hidden;
	border-radius: 10px;
}*/

#foto-detail-kuliner .upload-gambar-kuliner{
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 13px;
        text-align: right;
}

#foto-detail-kuliner .next-image {
	margin-bottom: 10px;
	font-size: 16px;
	text-align: center;
	display: block;
	padding: 7px 0;
	background: #EFEFEF;
	max-width: 330px;
	margin: 14px auto;
	color: #F2180F;
}
#foto-detail-kuliner .next-image:hover,
#foto-detail-kuliner .next-image:focus {
	text-decoration: none;
}

#foto-detail-kuliner .upload-gambar-kuliner button,
#foto-detail-kuliner .upload-gambar-kuliner label.btn-upload,
#tulis-ulasan-box .kirim-ulasan-kuliner button{
	margin-left: 12px;
	margin-right: 12px;
	background: #F2180C;
	font-size: 13px;
	padding: 3px 14px;
	border-radius: 3px;
}

#tulis-ulasan-box .kirim-ulasan-kuliner textarea{
	width: 97%;
	background: #D6D6D6;
	margin: 8px 12px 30px 12px;
	border: none;
	resize: none;
	padding: 10px;
}

.tabs-kuliner{
	margin:0;
	padding: 0;
}

.tabs-kuliner .tab-item {
	border-bottom: 1px solid #d4d4d4;
	background: #fff;
	display: inline-block;
	padding: 4px 0 4px;
	float: left;
	width: 33.333%;
	text-align: center;
	text-decoration: none;
	color: #434345;
	font-size: 24px;
}

.tabs-kuliner .tab-item.active{
	border-bottom: 4px solid #E82529;
	padding: 4px 0 1px;
}

.tabs-kuliner.tabs-flying{
	display: none;
	top: 57px;
}

#detail-kuliner-informasi.tab-page{
	margin-bottom: 6px;
}

#detail-kuliner-informasi .detail-kuliner-box.top{
	margin-bottom: 0;
	padding-bottom: 0;
}

#detail-kuliner-informasi .detail-kuliner-box.top h4 {
	height: 50px; 
}

#detail-kuliner-informasi .detail-kuliner-box.top .text-truncate{
	margin-top: 10px;
}

#detail-kuliner-informasi .detail-kuliner-box.bottom{
	padding-top: 0;
}

.detail-kuliner-box .foto-360.no-radius img {
	border-radius: 0;
}



#detail-kuliner-informasi .detail-kuliner-box.bottom div:nth-child(2) h4{
	font-size: 17px;
}

#detail-kuliner-informasi .detail-kuliner-box.bottom div:nth-child(2) small{
	margin-top: 10px;
}

#detail-kuliner-informasi .detail-kuliner-box.bottom div:nth-child(2) h6{
	font-size: 16px;
	margin-top: 50px;
}

#detail-kuliner-informasi .detail-kuliner-box.bottom div:nth-child(3) a {
	display: inline-block;
	margin-top: 167px;
	color: #777;
	margin-left: 36px;
}

#detail-kuliner-informasi .detail-kuliner-box.bottom div:nth-child(3) a:hover{
	text-decoration: none;
	color: #F2180C;
}

#detail-kuliner-informasi .detail-kuliner-box.bottom div:nth-child(3) i{
	display: block;
}
#detail-kuliner-informasi .detail-kuliner-box.bottom div:nth-child(3) i:hover{
	color: #F2180C;
}

.iconfasilitas {
  width: 25px;	
}


.tooltips-bottom {
	position: relative;
	display: inline;
	cursor: pointer;
	line-height: 17px;
}
.tooltips-bottom + span {
	position: absolute;
	width:initial;
	color: #FFFFFF;
	background: #000000;
	min-height: 30px;
	line-height: 30px;
	text-align: center;
	visibility: hidden;
	border-radius: 6px;
	max-width: 300px;
}
.tooltips-bottom + span:after {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -8px;
	width: 0; height: 0;
	border-bottom: 8px solid #000000;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
.tooltips-bottom:hover + span,
.tooltips-bottom:active + span,
.tooltips-bottom:focus + span {
	visibility: visible;
	opacity: 0.8;
	top: 62px;
	left: 0;
	/*left: 50px;*/
	/*margin-left: -76px;*/
	z-index: 999;
	text-align: left;
	line-height: normal;
	padding: 10px;
}

#header-detail-kuliner.is-foto-kuliner .gambar-profil-kuliner{
	width: 94%;
}

#header-detail-kuliner.is-foto-kuliner .col-sm-8{
	padding-left: 0;
}

#header-detail-kuliner.is-foto-kuliner div.sum-score {
	width: initial;
	display: inline-block;
}

#header-detail-kuliner.is-foto-kuliner .col-point {
	position: absolute;
	z-index: 6;
	top: 0;
	right: 12px;
}

#header-detail-kuliner.is-foto-kuliner span.text-score {
	font-size: 30px;
}


/* Ini Style Detail Wisata */

#header-detail-kuliner .atribut-item-wisata .map{
	padding-left: 25px;
}

#header-detail-kuliner .map .google-streets{
	text-align: center;
}

#header-detail-kuliner .map .google-streets h6{
	margin-top: 0;
}

#header-detail-kuliner .map .google-streets a{
	display: block;
	text-align: center;
}

#header-detail-kuliner .map .google-streets a:hover{
	text-decoration: none;
	color: #F2180C;
}

#header-detail-kuliner .map .google-streets a img{
	max-width: 80%;
	margin: 0 auto;
}

#header-detail-kuliner .map .google-streets .fa{
	display: block;
	font-size: 1.5em;
	margin-top: 3px;
}

#header-detail-kuliner .map .google-streets span{
	display: block;
	font-size: 13px;
}

#blog-wisata{
	margin-top: 10px;
}

#blog-wisata .header{
	font-size: 18px;
	margin-left: 0px;
}

#blog-wisata .header img {
	border-radius: 30px;
	max-width: 50px;
	display: inline-block;
}

#blog-wisata .content {
	font-size: 15px;
	color: #515151;
	text-align: justify;
	text-indent: 25px;
	padding-left: 6%;
	padding-right: 6%;
	margin-bottom: 30px;
}

#blog-wisata .footer {
	padding-right: 6%;
	margin-bottom: 20px;

}

#blog-wisata .footer img{
	max-width: 60px;
}
#blog-wisata .footer span{
	margin-top: 30px;
	margin-left: -13px;
	color: red;
}

.tabs-filter .tab-item {
	border-bottom: 1px solid #d4d4d4;
	background: #fff;
	display: inline-block;
	padding: 4px 0 4px;
	float: left;
	width: 20%;
	text-align: center;
	text-decoration: none;
	color: #434345;
	font-size: 24px;
}

.tabs-filter .tab-item.active{
	border-bottom: 4px solid #E82529;
	padding: 4px 0 1px;
}

.tabs-filter.tabs-flying{
	display: none;
	top: 57px;
}


/*Search suggestion*/
/*=================*/
#search-suggestion-box{
	position: absolute;
	z-index: 99;
	display: none;
}

#search-suggestion .blue-link{
	color: #337ab7;
}

#search-suggestion .blue-link:hover,
#search-suggestion .blue-link:focus{
	text-decoration: none;
}

#search-suggestion .red-link{
	color: #E82529;
}

#search-suggestion .red-link:hover,
#search-suggestion .red-link:focus{
	text-decoration: none;
	color: #BF1418;
}

#search-suggestion{
	background: #fff;
}

#search-suggestion .top-helper{
	font-size: 16px;
	color: #676867;
	padding: 3px 10px;
	margin: 0;
}

#search-suggestion .top-helper li{
	margin-top: 4px;
}

#search-suggestion .header-helper{
	font-size: 14px;
	color: #676968;
	background: #E1E0DB;
	padding: 3px 10px;
	margin-bottom: 2px;
	display: block;
}

#search-suggestion .header-helper span,
#search-suggestion .header-helper .pull-right{
	display: none;
}

#search-suggestion .container-content{
	/*max-height: 400px;
	overflow-y: scroll;*/
}

#search-suggestion .content-suggestion{
	padding: 3px 10px 3px 0;
}

#search-suggestion .content-suggestion .media{
	margin-top: 10px;
}

#search-suggestion .content-suggestion .media > a{
	display: block;
}

#search-suggestion .content-suggestion .media:first-child{
	margin-top: 0;
}

#search-suggestion .content-suggestion .media-left{
	padding-left: 10px;
}

#search-suggestion .content-suggestion .media-heading{
	margin-bottom: 0;
	color: rgb(0,0,0);
	font-size: 17px;
}

#search-suggestion .content-suggestion .media-body{
	margin-bottom: 0;
	color: #737375;
}

#search-suggestion .content-suggestion .media-object{
	border-radius: 2px;
	width: 64px;
	height: 36px;
}

#search-suggestion .content-suggestion .media-footer{
	display: table-cell;
	padding: 0;
	list-style: none;
	font-size: 12px;
}

#search-suggestion .content-suggestion .media-footer li{
	min-width: 150px;
	color: #737375;
}

#search-suggestion .footer-helper {
	font-size: 14px;
	font-weight: lighter;
	color: #989898;
	padding: 3px 3px;
	margin: 5px 7px 10px;
	border-top: 1px solid #B3B1B2;
	display: block;
	background: inherit;
}


/*Input keyword*/
#search-suggestion.input-keyword .top-helper,
#search-suggestion.input-keyword .footer-helper{
	display: none;
}

#search-suggestion.input-keyword .header-helper{
	border-bottom: 1px solid rgba(0,0,0,.5);
}

#search-suggestion.input-keyword .header-helper span,
#search-suggestion.input-keyword .header-helper .pull-right{
	display: inline-block;
}

#search-suggestion.input-keyword .header-helper::before {
	content: "kategori";
	display: block;
	background: #d1d1d3;
	position: absolute;
	width: 150px;
	padding: 3px 15px;
	margin-left: -160px;
	top: 0;
	color: #333;
	border-bottom: 1px solid rgba(0,0,0,.5);
}

#search-suggestion.input-keyword .last-category-item{
	border-bottom: 1px solid rgba(0,0,0,.5);
	padding-bottom: 5px;
}

#search-suggestion.input-keyword .last-category-item + .media{
	margin-top: 5px;
}

#search-suggestion.input-keyword .last-category-item:last-child{
	border:none;
}

#search-suggestion.input-keyword .last-category-item::before {
	content: attr(data-category);
	display: block;
	background: #d1d1d3;
	position: absolute;
	width: 150px;
	padding-left: 15px;
	margin-left: -150px;
/*	height: 100px;
	margin-top: -55px;*/
	border-bottom: 1px solid rgba(0,0,0,.5);
}

#search-suggestion.input-keyword .last-category-item.item-1::before {
	/*height: 50px;*/
	margin-top: -5px;
	padding-top: 14px;
	padding-bottom: 15px;
	z-index: 99;
}

#search-suggestion.input-keyword .last-category-item.item-2::before {
	/*height: 99px;*/
	margin-top: -53px;
	padding-top: 38px;
	padding-bottom: 39px;
}

#search-suggestion.input-keyword .last-category-item.item-3::before {
	height: 147px;
	margin-top: -102px;
}

#search-suggestion.input-keyword .last-category-item.item-3.show-more::before {
	/*height: 168px;*/
	padding-top: 73px;
	padding-bottom: 73px;
}

#search-suggestion.input-keyword .last-category-item.item-4::before {
	height: 218px;
	margin-top: -155px;
}

#search-suggestion.input-keyword .last-category-item.item-5::before {
	/*height: 268px;*/
	margin-top: -200px;
	padding-top: 123px;
	padding-bottom: 120px;
}


#search-suggestion.input-keyword .last-category-item.item-1:last-child::before{
	height: 52px;
	margin-top: -5px;
	border-bottom: none;
}

#search-suggestion.input-keyword .last-category-item.item-2:last-child::before{
	/*height: 111px;*/
	margin-top: -54px;
	border-bottom: none;
	padding-top: 40px;
	padding-bottom: 40px;
}

#search-suggestion.input-keyword .last-category-item.item-3:last-child::before{
	height: 152px;
	margin-top: -105px;
	border-bottom: none;
}
#search-suggestion.input-keyword .last-category-item.item-4:last-child::before{
	height: 220px;
	margin-top: -155px;
	border-bottom: none;
}

#search-suggestion.input-keyword .last-category-item.item-5:last-child::before{
	height: 270px;
	margin-top: -205px;
	border-bottom: none;
}

/*stop keyword text*/
#search-suggestion.input-keyword .last-category-item.show-more{
	border-bottom: none;
	padding-bottom: 0;
}


#search-suggestion.input-keyword .last-category-item.show-more .button-more{
	text-align: center;
	display: block;
	background: #E8E9EB;
	margin-top: 5px;
}

#search-suggestion.input-keyword .last-category-item.show-more .button-more::after {
	content: "";
	width: 10px;
	background: #E8E9EB;
	height: 20px;
	display: block;
	position: absolute;
	right: 12px;
	margin-top: -20px;
}

#search-suggestion.input-keyword .last-category-item.item-3.show-more + .last-category-item{
	background: red;
}


/*-----------------------------------------*/
/* 				Review 					   */
/*-----------------------------------------*/

.img-review-profile{
	border-radius: 100px;
	border: 1px #eee solid;
	padding: 1px;
	margin: 0 auto;
	display: inherit;
}

#add-kuliner-review{
	display: none;
}

#add-kuliner-review .section-rating{
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 0 10px;
	color: #a2a2a2;
}

#add-kuliner-review .section-rating .title{
	color: #000;
}

#add-kuliner-review .section-rating .score hr {
	margin: 4px 0 auto;
}

#add-kuliner-review .section-rating .sum {
	margin-bottom: 25px;
}

#add-kuliner-review .section-rating .sum-score {
	background: none;
	width: 100px;
	text-align: center;
	vertical-align: text-bottom;
}

#add-kuliner-review .section-rating .sum-score .text-score{
	color: #2D8E41;
	font-size: 75px;
}

#section-form-ulasan--form-basic label{
	color: #A5A3A4;
	font-weight: normal;
}

#section-form-ulasan--form-basic label.subtitle{
	margin-top: 5px;
}

#section-form-ulasan--form-basic label.btn-upload{
	padding: 3px 12px;
}

#section-form-ulasan--form-basic label.btn-upload + label{
	display: block;
	text-align: center;
}

#add-kuliner-review .input-round{
	border-radius: 6px;
	border-color: #A5A3A4;
}

#add-kuliner-review .input-square{
	border-radius: 0px;
}

#section-form-ulasan--form-basic .input-isi-ulasan{
	position: relative;
}

#section-form-ulasan--form-basic .input-isi-ulasan textarea{
	resize: none;
}

#section-form-ulasan--form-basic .input-isi-ulasan .text-count{
	position: absolute;
	bottom: 5px;
	right: 20px;
	color: red;
	font-size: 10px;
}

#section-form-ulasan--informasi-tambahan{
	background: #F4F4F2;
	padding: 1px 10px 10px;
	display: block;
	margin-top: 20px;
	border-radius: 8px;
}

#section-form-ulasan--informasi-tambahan .informasi-tambahan-box{
	border-bottom: 1px solid #cecece;
}

#section-form-ulasan--informasi-tambahan .informasi-tambahan-box:last-child{
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

#section-form-ulasan--informasi-tambahan .informasi-tambahan-box:last-child li{
	margin-right: 40px;
	margin-bottom: 0;
}

#section-form-ulasan--informasi-tambahan .informasi-tambahan-box{
	margin: 0 24px 10px;
	color: #727270;
	padding-bottom: 10px;
}

#section-form-ulasan--informasi-tambahan .informasi-tambahan-box h5{
	margin-bottom: 3px;
}

#section-form-ulasan--informasi-tambahan .informasi-tambahan-box span{
	display: inline-flex;
}

#section-form-ulasan--informasi-tambahan .informasi-tambahan-box .input-round{
	height: 25px;
	margin: 2px;
	font-size: 14px;
}

#section-form-ulasan--informasi-tambahan .informasi-tambahan-box .label-name{
	font-weight: lighter;
	color: rgba(100,100,100,0.65);
	margin: 0 2px 0 20px;
	font-size: 13px;
	vertical-align: text-top;
}

#section-form-ulasan--informasi-tambahan .informasi-tambahan-box .point{
	color: #1FA10D;
	font-size: 11px;
}

#section-form-ulasan--informasi-tambahan .informasi-tambahan-box .btn-add-recommend{
	text-decoration: none;
	background: #663399;
	color: #fff;
	font-size: 12px;
	border-radius: 5px;
	padding: 1px 10px;
	margin-top: 10px;
	display: inline-block;
}

#section-form-ulasan--informasi-tambahan .input-menu-order,
#section-form-ulasan--informasi-tambahan .input-menu-recommend{
	position: relative;
	margin-bottom: 10px;
}

#section-form-ulasan--informasi-tambahan .input-menu-order .delete-item,
#section-form-ulasan--informasi-tambahan .input-menu-recommend .delete-item{
	position: absolute;
	color: #f2180f;
	right: 0;
	top: 0;
	display: none;
}

#modal-upload-ulasan{
	color: #A5A3A4;
}

#modal-upload-ulasan .modal-dialog{
	max-width: 800px;
}

#modal-upload-ulasan .modal-dialog .modal-content{
	border-radius: 0;
	padding: 0 40px;
}

#modal-upload-ulasan .modal-dialog .modal-header{
	border-bottom: 0;
	padding-bottom: 5px;
}

#modal-upload-ulasan .modal-dialog .modal-content label{
	font-weight: normal;
	margin-bottom: 2px;
	margin-top: 5px
}

#modal-upload-ulasan .modal-body .img-preview-ulasan .img-wrapper{
	max-height: 120px; 
	overflow: hidden; 
	position: relative;
}

#preview-image-ulasan .foto-360 .img-wrapper{
	overflow: hidden; 
	position: relative;
	max-height: 120px;
	border-radius: 10px;
}

#foto-detail-kuliner .foto-360 .img-wrapper{
	max-height: 120px; 
	overflow: hidden; 
	position: relative;
	border-radius: 3px;
}

#modal-upload-ulasan .modal-footer{
	border-top: 0;
	padding-top: 0;
}

#modal-upload-ulasan .modal-footer .btn-success{
	padding: 4px 20px;
	border-radius: 0;
}

#modal-upload-ulasan .modal-body .img-preview-ulasan .img-wrapper a.remove-image,
#preview-image-ulasan .foto-360 a.remove-image{
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 20px;
	background: #7f7f7f;
	color: red;
	width: 20px;
	height: 20px;
	text-align: center;
	margin: 5px;
	text-decoration: none;
}

#preview-image-ulasan .foto-360 a.remove-image{
	margin: 2px;
}

#modal-upload-ulasan .modal-body .img-preview-ulasan .img-wrapper a.remove-image:hover{
	text-decoration: none;
}

#modal-upload-ulasan .modal-body .img-preview-ulasan .img-container,
#preview-image-ulasan .foto-360 .img-container,
#foto-detail-kuliner .foto-360 .img-container{
	max-height: inherit; 
	transform: translateY(50%);
}

#modal-upload-ulasan .modal-body .img-preview-ulasan .img-container img,
#preview-image-ulasan .foto-360 .img-container img,
#foto-detail-kuliner .foto-360 .img-container img{
	transform: translateY(-50%);
}


#preview-image-ulasan {
	padding-left: 0;
	padding-top: 25px;
	padding-bottom: 0;
	margin-left: -5px;
}


#aksi-kirim-ulasan{
	margin-bottom:15px;
}

#aksi-kirim-ulasan .btn-action{
	padding: 1px 20px;
	border-radius: 7px;
	margin-left: 10px;
}

#aksi-kirim-ulasan .btn-danger{
	background: #f2180f;
}

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  display: inline-block;
  margin-top: 5px;
  vertical-align: middle;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 0 5px;
  font-size: 0.9em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
	color: #737373; 
	float: right; 
	background: #adadad;
	border-radius: 28px;
	padding: 1px 2px 3px 1px;
	margin-left: 5px;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color:#fff; background:#f6911f;  cursor: pointer;} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #dedede; background: #d47e1d;   } 

.rating ~ .label-name { margin-top: 2px; }