#ulasan .komentar-ulasan{
	margin-left: 30px;
	padding: 5px;
	background: #F0F0F2;
	border-radius: 10px;
	color: #6D6E72;
}

#ulasan .komentar-ulasan .message,
#ulasan .komentar-ulasan .message .media-body {
	overflow: visible;
}

#ulasan .komentar-ulasan .message.reply .img-review-profile{
	max-width: 35px;
}

#ulasan .komentar-ulasan .message .message-content {
	background: #fff;
	border-radius: 17px;
	padding: 3px 12px;
	font-size: 21px;
	line-height: 1.1;
}

#ulasan .komentar-ulasan .message .message-attribute{	
	padding: 1px 15px 10px;
	position: relative;
}

#ulasan .komentar-ulasan .message .message-attribute > a{	
	margin-right: 10px;
}

#ulasan .komentar-ulasan .message .message-attribute .message-control{	
	cursor: pointer;
}

#ulasan .komentar-ulasan .message .message-attribute .context {
	position: absolute;
	right: 0;
	display: block;
	background: #E0E1E3;
	color: #ADADAD;
	padding: 2px 5px 2px 5px;
	bottom: 0;
	margin-bottom: -30px;
	display: none;
}

#ulasan .komentar-ulasan .message .message-attribute .context > a{
	color: #6D6E72;
	display: block;
}
