/* general.css *
* Copyright 2016 
* Template by hyriu (http://hyriu.web.id)
*
*/ 

/* =CSS Reset : reset default browser style
-------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
	margin: 0; 
	padding: 0;
	border: 0;
}
html ,body{
	background: #ECEDEF !important;
}
p{
	margin: 0 0 10px 0;
}
/* =Lists 
-------------------------------------------------------------*/
ul li{
	list-style-type: none;
}

/* =Tables
-------------------------------------------------------------*/
table {
	width: 100%; 
	border-collapse: collapse; 
	border-spacing: 0;
}
table thead th {
	font-size: 18px;
	padding: 5px 10px 20px 10px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	text-align: left;
}
table thead tr {
	background-color: transparent;
}
table td{
	padding: 10px 10px;
	text-align: center;
}
table td:first-child{
	text-align: left;
}
table tbody tr:nth-child(even) {
	background: #fff;
}
table tbody tr:nth-child(odd) {
	background: #f0f0f0;
}

/* =Misc class for general use 
------------------------------------------------------------ */
/* Hidden */
.hide, .hidden, .display-none {
	display: none;
}

/* Arrow style */
.float-right {float: right;} 
.float-left {float: left;} 
.center{margin: 0 auto;}
.block {display: block;} 
.inline {display: inline;} 
.inline-block {display: inline-block;}

/*Remove n Clear*/
.clearfix:after, .container:after {
	content: "\0020"; 
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
.clearfix, .container {
	display: block;
}
.clear {
	clear: both; 
	font-size: 1px;
}
hr{}
hr.space {
	background: #fff; 
	color: #fff; 
	visibility: hidden;
}

/* Vertical Position style */
.v-top {vertical-align: top;} 
.v-middle {vertical-align: middle;} 
.v-bottom {vertical-align: bottom;}

/* Positioning */
.relative {position: relative;} 
.absolute {position: absolute;} 
.fixed {position: fixed;}

/* Padding and Margin */
.pt-0 {padding-top: 0px;} .pt-5 {padding-top: 5px;} .pt-10 {padding-top: 10px;} .pt-15 {padding-top: 15px;} .pt-20 {padding-top: 20px;} .pt-25 {padding-top: 25px;}
.pr-0 {padding-right: 0px;} .pr-5 {padding-right: 5px;} .pr-10 {padding-right: 10px;} .pr-15 {padding-right: 15px;} .pr-20 {padding-right: 20px;} .pr-25 {padding-right: 25px;}
.pb-0 {padding-bottom: 0px;} .pb-5 {padding-bottom: 5px;} .pb-10 {padding-bottom: 10px;} .pb-15 {padding-bottom: 15px;} .pb-20 {padding-bottom: 20px;} .pb-25 {padding-bottom: 25px;} .pb-30 {padding-bottom: 30px;} .pb-40 {padding-bottom: 40px;} .pb-50 {padding-bottom: 50px;} .pb-60 {padding-bottom: 60px;}
.pl-0 {padding-left: 0px;} .pl-5 {padding-left: 5px;} .pl-10 {padding-left: 10px;} .pl-15 {padding-left: 15px;} .pl-20 {padding-left: 20px;} .pl-25 {padding-left: 25px;} .pl-50 {padding-left: 50px;}
.mt-0 {margin-top: 0px;} .mt-5 {margin-top: 5px;} .mt-10 {margin-top: 10px;} .mt-15 {margin-top: 15px;} .mt-20 {margin-top: 20px;} .mt-25 {margin-top: 25px;} .mt-40 {margin-top: 40px;}
.mr-0 {margin-right: 0px;} .mr-5 {margin-right: 5px;} .mr-10 {margin-right: 10px;} .mr-15 {margin-right: 15px;} .mr-20 {margin-right: 20px;} .mr-25 {margin-right: 25px;}
.mb-0 {margin-bottom: 0px;} .mb-5 {margin-bottom: 5px;} .mb-10 {margin-bottom: 10px;} .mb-15 {margin-bottom: 15px;} .mb-20 {margin-bottom: 20px;} .mb-25 {margin-bottom: 25px;} .mb-30 {margin-bottom: 30px;} .mb-40 {margin-bottom: 40px;} .mb-50 {margin-bottom: 50px;} .mb-60 {margin-bottom: 60px;}
.ml-0 {margin-left: 0px;} .ml-5 {margin-left: 5px;} .ml-10 {margin-left: 10px;} .ml-15 {margin-left: 15px;} .ml-20 {margin-left: 20px;} .ml-25 {margin-left: 25px;} .ml-30 {margin-left: 30px;}


/* =Color
-------------------------------------------------------------*/
.bg-white{background-color: #ffffff !important;}



/* =Custome
-------------------------------------------------------------*/

/* Reset Button bootstrap */
.btn-primary{
	background-color: #2E8CFE !important;
	border-color: #2E8CFE !important;
}
.btn-primary:hover{
	background-color: #016AEB !important;
	border-color: #016AEB !important;
}
.input-group-addon{
	background-color: #ffffff !important;
}

/* =Button
------------------------------------------------------------ */
.actionbox-button{
	display: table;
	vertical-align: middle;
	width: 100%;
	text-align: center;
	margin: 5px 0 5px;
	padding: 5px;
	background-color: #ffffff;
}
.btn-normal{
	color: #E62629 !important;
}
.btn-simple{
	text-transform: uppercase !important;
	color: #ffffff !important;
	padding: 2px 8px 2px !important;
	font-size: 12px !important;
	border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	margin-right: 5px;
}
.btn-fullw{
	width: 100%;
	border-radius: 0 0 4px 4px !important; 
	-webkit-border-radius: 0 0 4px 4px !important; 
	-moz-border-radius: 0 0 4px 4px !important;
	text-transform: uppercase;
	padding: 12px 20px 12px !important;
}
.btn-simple-border-green{
	color: #5cb85c !important;
	border-color: #5cb85c !important;
	padding: 2px 6px 2px !important;
	font-size: 12px !important;
}
.btn-simple-border-green:hover{
	color: #5cb85c !important;
	border-color: #5cb85c !important;
}
.btn-simple-border-red{
	background-color: #ffffff !important;
	color: #E62629 !important;
	border-color: #E62629 !important;
}
.btn-simple-border-red:hover{
	background-color: #ffffff !important;
	color: #D71A1E !important;
	border-color: #D71A1E !important;
}
.btn-simple-border-red .glyphicon{
	color: #E62629;
}
.btn-simple-grey{
	background-color: #868688 !important;
	border-color: #868688 !important;
	text-transform: uppercase !important;
	color: #ffffff !important;
	padding: 4px 8px 2px !important;
	font-size: 12px !important;
	border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	margin-right: 5px;
}
.btn-simple-grey:hover{
	background-color: #6F6F71 !important;
	border-color: #6F6F71 !important;
}
.btn-invite{
	display: block;
	font-size: 12px !important;
	padding: 2px 8px 2px 5px !important;
	background-color: #839EAF !important;
	color: #ffffff !important;
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
}
.btn-invite:hover{
	background-color: #4B6676 !important;
	color: #ffffff !important;
}
/* button upload */
.button-upload-photo{
	margin: 10px auto 0;
	display: table;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.button-upload-photo .btn-simple-grey{
	color: #616362 !important;
	background-color: #F2F2F4 !important;
}
.button-upload-photo .btn-simple-grey:hover{
	color: #616362 !important;
	background-color: #DDDDE1 !important;
}
.button-upload-photo input[type="file"]{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	cursor: pointer;
}
/* button switcher */
.btn-checkbox{
	display: table;
	vertical-align: middle;
	width: auto;
	margin: 0 auto;
	text-align: center;
}
.btn-switchbox{
	position: relative;
	display: inline-block;
	width: 50px;
	height: 16px;
}
.btn-switchbox input{
	display:none;
}
.btn-switch{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #C5C4C8;
	border: 1px solid #C5C4C8;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.btn-switch:before{
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: -4px;
	bottom: -3px;
	background-color: #ffffff;
	border: 1px solid #BCBABB;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
input:checked + .btn-switch {
	background-color: #E82529;
}
input:focus + .btn-switch {
	box-shadow: 0 0 1px #E82529;
}
input:checked + .btn-switch:before {
	-webkit-transform: translateX(34px);
	-ms-transform: translateX(34px);
	transform: translateX(34px);
}

/* modern button */
.modern-form-group{
	position: relative;
	margin-top: 10px;
}
.modern-form-group .modern-label{
	display: block;
	position: absolute;
	top: -11px;
	left: 10px;
	padding: 2px 8px 2px;
	background-color: #ffffff;
	font-weight: normal;
	font-size: 10px;
	z-index: 10;
	margin: 0;
}
.modern-form-group .input-group{
	position: relative;
}
.modern-form-group .input-group .modern-input{
	padding: 8px 60px 6px 12px !important;
	height: 36px;
	box-shadow: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-left-color: #cccccc;	
	border-top-color: #cccccc;	
	border-right-color: #cccccc;	
	border-bottom-color: #cccccc;
}
.modern-form-group.error .input-group .modern-input{
	border-left-color: #D62245;	
	border-top-color: #D62245;	
	border-right-color: #D62245;	
	border-bottom-color: #D62245;
}
.modern-form-group.verified .input-group .modern-input{
	border-left-color: #209A07;	
	border-top-color: #209A07;	
	border-right-color: #209A07;	
	border-bottom-color: #209A07;
}
.modern-form-group .input-group .modern-input:hover{
	box-shadow: none;
}
.modern-form-group .input-group .modern-input:focus{
	border-color: #549BD0;
	box-shadow: none;
}
.modern-input-group-btn{
	position: absolute;
	right: 5px;
	z-index: 20;
}
.modern-input-group-btn .glyphicon{
	font-size: 10px;
	color: #cccccc;
}
.modern-input-group-btn button{
	border: none;
	background-color: transparent;
	height: 36px;
	padding: 6px 4px;
}
.modern-input-group-btn button:active,
.modern-input-group-btn button:hover,
.modern-input-group-btn button:focus{
	background-color: transparent !important;
	box-shadow: none !important;
}
.modern-input-desc{
	font-size: 11px;
	display: block;
	text-align: left;
	color: #cccccc;	
}
.modern-input-info{
	font-size: 11px;
	display: block;
	text-align: right;
	color: #cccccc;
}
.modern-input-info.error{
	color: #D62245;
}
.modern-input-info.verified{
	color: #209A07;
}


/* =Other
------------------------------------------------------------ */

/* div box table cell */
.divbox-table{
	display: table;
	width: 100%;
	vertical-align: top;
}
.divbox-table-cell-left{
	display: table-cell;
	vertical-align: middle;
	width: auto;
	text-align: left;
}
.divbox-table-cell-right{
	display: table-cell;
	vertical-align: middle;
	width: auto;
	text-align: right;
}
.divbox-table-cell{
	display: table-cell;
	width: auto;
	vertical-align: middle;
}

/* content */
.badge-menu-kiri{
	background-color: #C5C4C8;
	color: #38383A;
	border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	font-size: 15px;
	font-weight: normal;
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
}

/* 404 */


/* Tooltip */
.iconbox + .tooltip > .tooltip-inner {
	background-color: #272727; 
	color: #FFFFFF; 
}

/* navigation content */




/* =Icons Package
------------------------------------------------------------ */
.iconbox{
	display: inline-block;
	margin-right: 5px;
}
.iconbox:hover{
	cursor: pointer;
}
.iconbox label{
	display: block;
	font-size: 11px;
	text-align: center;
}

/* =Icons size small
------------------------------------------------------------ */

.ic-saved:before,
.ic-saved-white:before,
.ic-review:before,
.ic-photo:before,
.ic-distance:before,
.ic-android:before,
.ic-friend-sm:before,
.ic-open-toko:before,
.ic-close-toko:before,
.ic-sm-checkin:before,
.ic-sm-love:before,
.ic-sm-friend-1:before,
.ic-sm-friend-2:before,
.ic-sm-addfriend:before,
.ic-sm-edit:before,
.ic-sm-edit-blue:before,
.ic-sm-edit-white:before,
.ic-sm-point:before,
.ic-sm-time:before,
.ic-sm-doc-read:before,
.ic-sm-doc-read-blue:before,
.ic-sm-comment:before,
.ic-sm-comment-white:before,
.ic-sm-comment-blue:before,
.ic-sm-like:before,
.ic-sm-like-blue:before,
.ic-sm-like-blockblue:before,
.ic-sm-dotdown:before,
.ic-sm-dotdown-circle:before,
.ic-sm-calendar:before,
.ic-sm-place:before,
.ic-sm-earth:before,
.ic-sm-locked:before,
.ic-sm-eye-open:before,
.ic-sm-eye-close:before,
.ic-sm-selected:before,
.ic-sm-unselect:before,
.ic-sm-rejected:before,
.ic-sm-update:before
{
	content: "";
	width: 20px;
	height: 20px;
	background: url('../images/icons.png') no-repeat;
	background-size: 1300px auto;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.ic-saved,
.ic-saved-white,
.ic-review,
.ic-photo,
.ic-distance,
.ic-android,
.ic-friend-sm,
.ic-open-toko,
.ic-close-toko,
.ic-sm-checkin,
.ic-sm-love,
.ic-sm-friend-1,
.ic-sm-friend-2,
.ic-sm-addfriend,
.ic-sm-edit,
.ic-sm-edit-blue,
.ic-sm-edit-white,
.ic-sm-point,
.ic-sm-time,
.ic-sm-doc-read,
.ic-sm-doc-read-blue,
.ic-sm-comment,
.ic-sm-comment-white,
.ic-sm-comment-blue,
.ic-sm-like,
.ic-sm-like-blue,
.ic-sm-like-blockblue,
.ic-sm-dotdown,
.ic-sm-dotdown-circle,
.ic-sm-calendar,
.ic-sm-place,
.ic-sm-earth,
.ic-sm-locked,
.ic-sm-eye-open,
.ic-sm-eye-close,
.ic-sm-selected,
.ic-sm-unselect,
.ic-sm-rejected,
.ic-sm-update
{
	display: inline-block;
	width: 20px;
	height: 20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding: 0 0 0 0;
}
.ic-saved:before{background-position: -654px 1px;}
.ic-saved-white:before{background-position: -680px 1px;}
.ic-review:before{background-position: 1px -81px;}
.ic-photo:before{background-position: -327px 0px;}
.ic-distance:before{background-position: -901px 1px;}
.active.ic-distance:before{background-position: -928px 1px;}
.ic-android:before{background-position: -709px -81px;}
.ic-friend-sm:before{background-position: -791px -81px;}
.ic-open-toko:before{background-position: 0px -136px;}
.ic-close-toko:before{background-position: -27px -136px;}
.ic-sm-checkin:before{background-position: -873px -82px;}
.ic-sm-love:before{background-position: -1010px -82px;}
.ic-sm-friend-1:before{background-position: -545px -82px;}
.ic-sm-friend-2:before{background-position: -1200px -82px;}
.ic-sm-addfriend:before{background-position: -600px -82px;}
.ic-sm-edit:before{background-position: -628px -27px;}
.ic-sm-edit-blue:before{background-position: -656px -27px;}
.ic-sm-edit-white:before{background-position: -683px -27px;}
.ic-sm-point:before{background-position: -873px -81px;}
.ic-sm-time:before{background-position: -983px -81px;}
.ic-sm-doc-read:before{background-position: -163px -81px;}
.ic-sm-doc-read-blue:before{background-position: -190px -81px;}
.ic-sm-comment:before{background-position: -381px 1px;}
.ic-sm-comment-white:before{background-position: -409px 1px;}
.ic-sm-comment-blue:before{background-position: -436px 1px;}
.ic-sm-like:before{background-position: -463px 1px;}
.ic-sm-like-blue:before{background-position: -490px 1px;}
.ic-sm-like-blockblue:before{background-position: -518px 1px;}
.ic-sm-dotdown:before{background-position: -26px -27px;}
.ic-sm-dotdown-white:before{background-position: 1px -27px;}
.ic-sm-calendar:before{background-position: -736px -81px;}
.ic-sm-place:before{background-position: -464px -81px;}
.ic-sm-earth:before{background-position: -763px 1px;}
.ic-sm-locked:before{background-position: -491px -81px;}
.ic-sm-eye-open:before{background-position: -436px -81px;}
.ic-sm-eye-close:before{background-position: -409px -81px;}
.ic-sm-selected:before{background-position: -1283px 1px;}
.ic-sm-unselect:before{background-position: -1283px 1px;}
.ic-sm-rejected:before{background-position: -1283px 1px;}
.ic-sm-update:before{background-position: -464px -81px;}


/* icon navigation */
.ic-pinned-circle:before,
.ic-delete-circle:before,
.ic-delete:before,
.ic-locked-circle:before,
.ic-tambahkan:before
{
	content: "";
	width: 20px;
	height: 20px;
	background: url('../images/icons.png') no-repeat;
	background-size: 2018px auto;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.ic-pinned-circle,
.ic-delete-circle,
.ic-delete,
.ic-locked-circle,
.ic-tambahkan
{
	display: inline-block;
	width: 20px;
	height: 20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding: 0 0 0 0;
	margin-right: 3px;
}
.ic-pinned-circle:before{background-position: -4px -89px;}
.ic-pinned-circle:hover:before{background-position: -46px -89px;}
.ic-delete-circle:before{background-position: -89px -89px;}
.ic-delete-circle:hover:before{background-position: -131px -89px;}
.ic-delete:before{background-position: -174px -89px;}
.ic-locked-circle:before{background-position: -215px -89px;}
.ic-locked-circle:hover:before{background-position: -258px -89px;}
.ic-tambahkan:before{background-position: -300px -88px;}



/* =Icons size normal
------------------------------------------------------------ */
.ic-follow:before,
.ic-followers:before,
.ic-following:before,
.ic-friend:before,
.ic-report:before,
.ic-like:before,
.ic-comment:before,
.ic-share:before,
.ic-instagram:before,
.ic-instagram-red:before,
.ic-twitter:before,
.ic-twitter-red:before,
.ic-facebook:before,
.ic-facebook-red:before,
.ic-trophy-1:before,
.ic-trophy-2:before,
.ic-trophy-3:before,
.ic-trophy-4:before,
.ic-trophy-local:before,
.ic-mail:before,
.ic-mail-white:before,
.ic-whatsapp:before,
.ic-line:before,
.ic-md-review:before,
.ic-md-photo:before,
.ic-md-collection:before,
.ic-earth:before,
.ic-earth-point:before,
.ic-earth-area:before,
.ic-earth-area-blue:before,
.ic-selected:before,
.ic-help-1:before,
.ic-help-2:before,
.ic-gomap:before,
.ic-bg-checkin:before,
.ic-bg-love:before,
.ic-bg-add:before,
.ic-bg-share:before,
.ic-arrow-up:before,
.ic-arrow-down:before
{
	content: "";
	width: 33px;
	height: 30px;
	background: url('../images/icons.png') no-repeat;
	background-size: 2018px auto;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.ic-follow,
.ic-followers,
.ic-following,
.ic-friend,
.ic-report,
.ic-like,
.ic-comment,
.ic-share,
.ic-instagram,
.ic-instagram-red,
.ic-twitter,
.ic-twitter-red,
.ic-facebook,
.ic-facebook-red,
.ic-trophy-1,
.ic-trophy-2,
.ic-trophy-3,
.ic-trophy-4,
.ic-trophy-local,
.ic-mail,
.ic-mail-white,
.ic-whatsapp,
.ic-line,
.ic-md-review,
.ic-md-photo,
.ic-md-collection,
.ic-earth,
.ic-earth-point,
.ic-earth-area,
.ic-earth-area-blue,
.ic-selected,
.ic-help-1,
.ic-help-2,
.ic-gomap,
.ic-bg-checkin,
.ic-bg-love,
.ic-bg-add,
.ic-bg-share,
.ic-arrow-up,
.ic-arrow-down
{
	display: inline-block;
	width: 33px;
	height: 30px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding: 0 0 0 0;
	/*border: 1px solid red;*/
}
/* other */
.ic-md-review:before{background-position: 2px -126px;}
.ic-md-photo:before{background-position: -506px 1px;}
.ic-md-collection:before{background-position: -337px -126px;}
.ic-earth:before{background-position: -1184px 1px;}
.ic-earth-point:before{background-position: -886px 1px;}
.ic-earth-area:before{background-position: -1269px 1px;}
.ic-earth-area-blue:before{background-position: -1226px 1px;}
.ic-selected:before{background-position: -1989px 1px;}
.ic-help-1:before{background-position: -1607px 1px;}
.ic-help-2:before{background-position: -1650px 1px;}
.ic-gomap:before{background-position: -252px 0px;}
.ic-bg-checkin:before{background-position: -1015px -126px;}
.ic-bg-love:before{background-position: -1566px -126px;}
.ic-bg-add:before{background-position: -1354px -126px;}
.ic-bg-share:before{background-position: -295px -41px;}
.ic-arrow-up:before{background-position: -378px -41px;}
.ic-arrow-down:before{background-position: -421px -41px;}

/* icon follow */
.ic-follow:before{background-position: -464px -126px;}
.ic-followers:before{background-position: -506px -126px;}
.ic-following:before{background-position: -549px -126px;}
.ic-friend:before{background-position: -591px -126px;}

/* icon action */
.ic-like:before{background-position: -717px 1px;}
.ic-like:hover:before{background-position: -759px 1px;}
.active.ic-like:before{background-position: -802px 1px;}
.ic-comment:before{background-position: -590px 1px;}
.ic-comment:hover:before{background-position: -632px 1px;}
.active.ic-comment:before{background-position: -674px 1px;}
.ic-share:before{background-position: -82px -41px;}
.ic-report:before{background-position: -1353px 1px;}
.active.ic-report:before{background-position: -1311px 1px;}

/* icon sosmed & level */
.ic-instagram:before{background-position: 2px -168px;}
.ic-instagram-red:before{background-position: -40px -168px;}
.ic-twitter:before{background-position: -82px -168px;}
.ic-twitter-red:before{background-position:  -124px -168px;}
.ic-facebook:before{background-position:  -167px -168px;}
.ic-facebook-red:before{background-position:  -210px -168px;}
.ic-trophy-1:before{background-position: -1737px -126px;}
.ic-trophy-2:before{background-position: -1693px -126px;}
.ic-trophy-3:before{background-position: -1650px -126px;}
.ic-trophy-4:before{background-position: -1609px -126px;}
.ic-trophy-local:before{background-position: -1821px -126px;}
.ic-mail:before{background-position: -252px -168px;}
.ic-mail-white:before{background-position: -294px -168px;}
.ic-whatsapp:before{background-position: -422px -168px;}
.ic-line:before{background-position: -4264px -168px;}



/* icon point maps */
.ic-maps-point-user:before,
.ic-maps-point-culinary:before,
.ic-maps-point-tour:before
{
	content: "";
	width: 27px;
	height: 45px;
	background: url('../images/icons.png') no-repeat;
	background-size: 3100px auto;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.ic-maps-point-user,
.ic-maps-point-culinary,
.ic-maps-point-tour
{
	display: inline-block;
	width: 27px;
	height: 45px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding: 0 0 0 0;
}
.ic-maps-point-user:before{background-position: -137px -383px;}
.ic-maps-point-culinary:before{background-position: -6px -383px;}
.ic-maps-point-tour:before{background-position: -72px -383px;}




/* =Dialog Modal
------------------------------------------------------------ */
.modal{
	background: rgba(0,0,0,0.4);
}
.modal-dialog{
	width: 800px;
	margin: 50px auto 0 auto;
}
.modal-content{
}
.modal-header{
	background-color: #E62629;
	border-bottom: none;
}
.modal-header h3{
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
}
.modal-header .close{
	background-color: #ffffff;
	border: 3px solid #f4f4f4;
	position: absolute;
	right: -10px;
	top: -10px;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	opacity: 1;
	line-height: 18px;
}
.modal-header .close:hover{
	background-color: #f2f2f2;
	opacity: 0.8;
}
.modal-header .close span{
	font-size: 20px;
}
.modal-title{
	color: #ffffff;
	text-align: center;
}
.modal-body{
	max-height: 500px;
	overflow: auto;
	background-color: transparent;
	padding: 20px 15px 20px !important;
}
.modal-body hr{
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
.modal-body ul li{
	list-style: none !important;
}
.modal-footer{
	background-color: transparent !important;
	border-top: none !important;
	padding: 10px 30px 20px !important;
	text-align: center !important;
}
.modal-footer-simple{
	padding: 0 !important;
}


