@media (min-width: 1200px) {}

/* ================================================================================================================== */
@media (min-width: 1199.99px) {}

/* ================================================================================================================== */
@media (min-width: 992px) {
    .header-top,
    .header-2nd{
        display: block !important;
    }

    .header-mobile{
        display: none !important;
    }
}

/* ================================================================================================================== */
@media (max-width: 991.99px) {
    a{
        cursor: pointer;
    }
    .text-hide{
        display: none !important;
    }

    .container{
        width: 100%;
    }

    .col-set-4{width: 25%;}
    .col-set-3{width: 33.333%;}
    .col-set-2{width: 50%;}

    .res-margin{
        margin: 0;
        padding: 0;
    }




    .header-top,
    .header-2nd{
        display: none !important;
    }
    .header-mobile{
        display: block !important;
    }
    .header-mobile .mobile-top{}
    .header-mobile .mobile-top .top-1st,
    .header-mobile .mobile-top .top-2nd{
        border: 0px solid #ddd;
    }
    .header-mobile .mobile-top .top-1st{
        border-bottom: 1px solid #ddd;
        padding: 10px 0 5px;
    }
    .header-mobile .mobile-top .top-2nd{
        padding: 10px 0px;
    }
    .header-mobile .mobile-top .mobile-button-menu {
        float: left;
        padding: 0px 5px;
    }
    .header-mobile .mobile-top .mobile-button-menu  a{
        color: #fff;
        font-size: 26px;
    }
    .header-mobile .mobile-top .mobile-button-menu  a:active,
    .header-mobile .mobile-top .mobile-button-menu  a:focus,
    .header-mobile .mobile-top .mobile-button-menu  a:hover{
        color: #dddddd;
    }
    .header-mobile .mobile-top h2{
        margin: 0;
        padding: 0px 45px;
        font-size: 24px;
        color: #fff;
    }
    .header-mobile .mobile-top .top-1st h2{
        line-height: 35px;
    }
    .header-mobile .mobile-top h2.kab{
        font-size: 10px;
        padding: 5px 45px;
    }
    .header-mobile .mobile-top h2.prov{
        font-size: 16px;
        padding: 0 45px 7px;
    }
    .header-mobile .mobile-top h2.kab,
    .header-mobile .mobile-top h2.prov{
        padding: 0px 46px;
        border: 0px solid;
        color: #ddd;
    }
    .header-mobile .mobile-top .top-icon div{
        margin-bottom: 5px;
    }
    .header-mobile .mobile-top img{
        width: 30px;
        float: right;
        margin: 0px 10px 0px;
        border: 0px solid #ddd;
    }
    .header-mobile .mobile-top .top-2nd img{
        margin: -3px 10px 0px;
    }

    /* ================================================================================================================== */
    .header-mobile .mbl-dropdown{
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        /*background: rgba(104, 104, 104, 0.8);*/
        background: #fff;
        z-index: 210;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .header-mobile .mbl-dropdown .menuhover-frame{
        border: 0px solid #000;
        width: 100%;
    }
    .header-mobile .mbl-dropdown .menuhover-frame .menuhover-user{
        padding: 15px;
        border-bottom: 1px solid #2aabd2;
        background: #2aabd2;
        margin: auto;
        text-align: center;
    }
    .header-mobile .mbl-dropdown .menuhover-frame .menuhover-user .res_close{
        position: absolute;
        right: 0;
        color: #fff;
        border: 1px solid #ddd;
        margin: 10px;
        top: 0px;
        padding: 3px 5px;
        border-radius: 5px;
        cursor: pointer;
    }
    .header-mobile .mbl-dropdown .menuhover-frame .menuhover-user .res_close:active,
    .header-mobile .mbl-dropdown .menuhover-frame .menuhover-user .res_close:focus{
        color: #f9780b;
    }
    .header-mobile .mbl-dropdown .menuhover-frame .menuhover-userfoto{
        margin: auto;
        width: 100px;
    }
    .header-mobile .mbl-dropdown .menuhover-frame .menuhover-userfoto img{
        width: 100%;
        border-radius: 50%;
    }
    .header-mobile .mbl-dropdown .menuhover-frame .menuhover-userinfo{}
    .header-mobile .mbl-dropdown .menuhover-frame .menuhover-userinfo span:last-child{
        padding-left: 2px;
        border-left: 1px solid #dddddd;
    }
    .header-mobile .mbl-dropdown .menuhover-frame .menuhover-userinfo a{
        text-decoration: none;
        padding: 5px 10px;
        color: white;

        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    .header-mobile .mbl-dropdown .menuhover-frame .menuhover-userinfo a:hover{
        color: #dddddd;
    }

    .header-mobile .mbl-dropdown .menuhover-frame ul,
    .header-mobile .mbl-dropdown .dropdown-2nd ul{
        list-style: none;
        padding: 0;
        margin: 0;
        background: #fff;
        position: relative;
    }
    .header-mobile .mbl-dropdown .menuhover-frame ul li{}
    .header-mobile .mbl-dropdown .menuhover-frame ul li a,
    .header-mobile .mbl-dropdown .dropdown-2nd .dropdown-back a,
    .header-mobile .mbl-dropdown .dropdown-2nd ul li a{
        text-decoration: none;
        width: 100%;
        display: inline-block;
        line-height: 30px;
        padding: 10px 15px;
        border-bottom: 1px solid #2aabd2;

        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    .header-mobile .mbl-dropdown .menuhover-frame ul li a:hover,
    .header-mobile .mbl-dropdown .dropdown-2nd .dropdown-back a:hover,
    .header-mobile .mbl-dropdown .dropdown-2nd ul li a:hover{
        background: #dddddd;
    }
    .header-mobile .mbl-dropdown .menuhover-frame ul li i,
    .header-mobile .mbl-dropdown .dropdown-2nd ul li i{
        float: right;
        margin-top: 9px;
        font-weight: bold;
    }
    .header-mobile .mbl-dropdown .dropdown-2nd{
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background: #fff;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .header-mobile .mbl-dropdown .dropdown-2nd ul{
        margin-top: 52px;
    }
    .header-mobile .mbl-dropdown .dropdown-2nd ul li{}

    .header-mobile .mbl-dropdown .dropdown-2nd .dropdown-back{
        position: fixed;
        background: #eaeaea;
        margin-bottom: 25px;
        top: 0px;
        right: 0px;
        left: 0px;
        z-index: 1;
    }
    .header-mobile .mbl-dropdown .dropdown-2nd .dropdown-back a{
        border-bottom: 3px solid #2aabd2;
    }
    .header-mobile .mbl-dropdown .dropdown-2nd .dropdown-back i{
        float: none;
    }

    .header-mobile .mbl-search{
        position: fixed;
        /*top:0;*/
        /*bottom:0;*/
        /*left:0;*/
        /*right:0;*/
        width: 100%;
        height: 100%;
        top: 0;
        background: #fff;
        z-index: 10;
        padding:0;
        margin:0;
    }
    .header-mobile .mbl-search h5{
        margin:0;
        padding: 10px 0;
        border-bottom: 1px solid #2aabd2;
    }

    .header-mobile .mbl-search-content,
    .header-mobile .mbl-search-form{
        padding: 10px;
    }

    .header-mobile .mbl-search-form h2{
        margin:0;
        padding: 0;
        text-align: center;
        margin-bottom: 20px;
        font-size: 32px;
        color: #fff;
    }
    .header-mobile .mbl-search-form i{
        font-size: 30px;
    }
    .header-mobile .mbl-search-form .search-close{
        float: right;
        padding: 4px 4px 3px;
        color: #fff;
        border: 1px solid #ddd;
        margin: 0px;
        top: 0px;
        border-radius: 5px;
        cursor: pointer;
    }
    .header-mobile .mbl-search-form .search-close i{
        font-size: 14px;
    }
    .header-mobile .mbl-search-form .search-close:hover{
        border: 1px solid #ddd;
    }
    .header-mobile .mbl-search-form{
        background: #f2180f;
        border-bottom: 1px solid #005aff;
    }
    .header-mobile .mbl-search-form input,
    .header-mobile .mbl-search-form button,
    .header-mobile .mbl-result a{
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    .header-mobile .mbl-search-form input,
    .header-mobile .mbl-search-form button{
        height: 36px;
    }
    .header-mobile .mbl-search-form input{
        width: 84.333%;
        padding-top: 2px;
        padding-bottom: 2px;
        line-height: 36px;
    }
    input.my-input[type="search"]:focus,
    input.my-input[type="search"]:focus + button{
        border-color: #000;
    }
    .header-mobile .mbl-search-form button{
        position: absolute;
        width: 15%;
        right: 10px;
        border: 1px solid #999;
        text-align: center;
    }
    .header-mobile .mbl-search-form button i{
        font-size: 22px;
    }


    .header-mobile .mbl-search-content{
        background: #eee;
        font-size: 14px;
        padding: 0;
        border-bottom: 2px solid #005aff;
    }
    .header-mobile .mbl-search-content a{
        width: 100%;
        padding: 7px 10px;
        display: inline-block;
        text-decoration: none;
    }
    .header-mobile .mbl-search-content a i{
        color: #005aff;
    }
    .header-mobile .mbl-search-content a:hover{
        background: #ddd;
        color: #005aff;
    }

    .header-mobile .mbl-rell{
        position: static;
        overflow: hidden;
    }
    .header-mobile .mbl-out{
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .header-mobile .mbl-result{}
    .header-mobile .mbl-result a{
        text-decoration: none;
    }
    .header-mobile .mbl-result a:hover .search-box-list{
        background: #fafafafa;
    }
    .header-mobile .mbl-result .search-box-list{
        padding: 0;
        border-bottom: 1px dotted #ddd;
        clear: both;
    }
    .header-mobile .mbl-result .search-box-foto{
        width: 30%;
        border: 0px solid #00ff00;
        float: left;
    }
    .header-mobile .mbl-result .search-box-foto img{
        width: 100%;
        clear: both;
        border-radius: 0px;
    }
    .header-mobile .mbl-result .search-box-content{
        border: 0px solid #ff0000;
        margin-left: 30%;
        padding: 5px 5px 0;
    }
    .header-mobile .mbl-result .search-box-content h4{
        font-size: 16px;
        margin: 0px;
    }
    .header-mobile .mbl-result .search-box-content .content{
        font-size: 11px;
        color: #a19f9f;
        word-break: keep-all;
    }
    .header-mobile .mbl-result .search-box-content .content img{
        width: 20px;
    }



    .style-content .content-foot .col-sm-4 {
        margin-right: -10px;
    }

    .style-content .content-foot .col-sm-4:nth-last-child(2n-1) {
        padding-right: 0px;
    }
}

/* ================================================================================================================== */
@media (max-width: 767.99px) {}

/* ================================================================================================================== */
@media (max-width: 575.99px) {
    .col-set-4{width: 50%;}
    .col-set-3{width: 50%;}
    .col-set-2{width: 100%;}
}









