html, body{
    width:100%;
    /*height:100%;*/
}
.container{
 width: 96%;   
}
body {
    font-family: 'Roboto';
    background: #f5f5f5;
    overflow-y: auto;
    overflow-x: hidden;
}

a:focus,
textarea:focus,
button:hover,
button:focus,
button:active,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
.uneditable-input:focus {
    /*border-color: #f9780b;*/
    box-shadow: none;
    outline: 0;
    outline: 0;
}

input[type="file"],
input[type="text"],
input[type="search"],
button{
    border-radius: 0px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.text-green{color: #27e127 !important;}
.text-red{color: #f70000 !important;}
.text-blue{color: #528cff !important;}
.text-orange{color: #ffc142 !important;}
.text-purple{color: #7245b3 !important;}
.text-grey{color: #aCaCaC !important;}
.text-white{color: #fff !important;}
.text-buka{color: #626262 !important; font-size: 11px;margin-left: 5px;}
.text-keteranganbuka{color: #868687 !important;font-size: 11px}


.side-kanan .thumbnail-kanan .image .label-rating,
.style-content .col-set-view .thumbnail-custom .label-rating {
    background-color: #249624;
}


.my-top-box{
    border: 0px solid transparent;
    margin: auto;
}
.pointer{
    cursor: pointer;
}
.my-clear{
    clear: both;
}
.my-hr{
    margin-left: -15px;
    margin-right: -15px;
}
.my-hr-black{
    border-color: #000;
}
.my-hr-dot{
    border-style: dotted;
}
.kuliner-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: rgba(18, 18, 18, 0.7);
    z-index: 10;
    display: none;
    overflow: hidden;
}
.my-icon{
    cursor: pointer;
}
input.my-input[type="text"],
input.my-input[type="search"]{
    border: 1px solid #999;
    line-height: 30px;
    width: 100%;
    padding: 0 10px;
}
input.my-input[type="text"]:focus,
input.my-input[type="search"]:focus{
    /*border-color: #f2180f;*/
}

.col-set-4,
.col-set-3,
.col-set-2{
    float: left;
}

.bg-white{
    background-color: #fff;
}
.padding-5{
    padding: 5px;
    margin-bottom: 0px;
}


.section-navbar .navbar-button-menu a,
.side-kanan .thumbnail-kanan,
.side-kanan .thumbnail-kanan .description .desc-over,
.side-kanan .col-list .toprange .range-desc .range-title,
.side-kanan .col-list .toprange .range-desc .range-add,
.side-kanan .kanan-frame button,
.side-kanan a.more,
.section-navbar .account,
.section-navbar .account.user .user-hover,
.section-navbar .navbar-topicon-twoand .top-wilayahhover,
.section-navbar .my-icon,
.dropdown_kat .menuhover-left ul li,
.dropdown_kat .menuhover-left ul li a,
.style-content .col-set-view .btn-bookmark,
.style-content .col-set-view a,
.style-content .col-set-view .thumbnail-custom .image p,
.style-content .col-set-view .thumbnail-custom,
.style-content .content-kategori .kategori ul li a,
.style-content .content-kategori .kategori a.more,
.view-close,
.view-frame .frame-kiri .panel-up,
.view-frame .frame-kiri .panel-down,
.view-frame .frame-kiri .panel-leftright span,
.style-footer .media .social a,
.banner .carousel-inner .setslide{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.style-content .col-set-view{
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.header-top {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.header-top.fix {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}








/* ------------------------------------------------------------------------------------------------------------------ */
/* Navbar */
header {
    z-index: 100;
    margin-bottom: 0px;
}
.header-top {
    padding: 10px;
    margin: 0;
    background: #f2180f;
    width: 100%;
}
.header-top.fix {
    position: fixed;
    z-index: 1010;
}
.header-top.fix + .menu {
    margin-top: 57px;
}

.header-top a{
    text-decoration: none;
    color: #444;
}
.header-top a:hover{
    color: #528cff;
}

.section-navbar{
    position: relative;
}
.section-navbar .title{
    color:#fff;
    margin: 0px;
    font-size: 34px;
}
.section-navbar a{
    cursor: pointer;
}
.section-navbar a i.fa{
    font-size: 25px;;
    line-height: 35px;
}

.section-navbar .navbar-button-menu{
    float: left;
    /*padding-left: 10px;*/
    position: relative;
}
.section-navbar .navbar-button-menu a{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 0 5px;
    border-radius: 4px;
    position: absolute;
}
.section-navbar .navbar-button-menu a:hover{
    border-radius: 4px;
    background: #fff;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.section-navbar .navbar-button-menu a:hover i{
    color: #000;
}
.section-navbar .navbar-button-menu a i{
    color: #fff;
}
.section-navbar .navbar-button-menu a.active{
    border-radius: 4px 4px 0 0;
    background: #fff;
    height: 55px;
}

/* ================================================================================================================== */
.section-navbar .navbar-search{
    padding-left: 60px;
    /*padding-right: 10px;*/
}
.section-navbar .navbar-search input{
    line-height: 35px;
    font-size: 18px;
    padding: 0 45px 0 20px;
    border: 1px solid #fff !important;
}
.section-navbar input[type="text"],
.section-navbar input[type="search"]{
    width: 100%;
}
.section-navbar input[type="text"],
.section-navbar input[type="search"],
.section-navbar .account a{
    border-radius: 4px;
    border: none;
}

/* ================================================================================================================== */
.section-navbar .box-search {}
.section-navbar .box-search .box-search-frame{
    position: absolute;
    padding: 10px 0 0;
    height: auto;
    max-height: 500px;
    left: 59px;
    right: 0px;
    z-index: 150;
    background: #fff;
    border: 1px solid;
    border-top: 0px;
    border-color: #9b9b9b;
    overflow-y: scroll;
    margin-top: 10px;
    /*display: none;*/
    /*-webkit-transition: all 1s;*/
    /*transition: all 1s;*/
}
.section-navbar .box-search .box-search-frame{}
.section-navbar .box-search.small {
    position: fixed;
    margin-top: 174px;
}

.section-navbar .menu-search {
    width: 100%;
    margin: auto;
    padding: 0 10px;
}
.section-navbar .menu-search i.fa{
    color: #999;
    font-size: 15px;
    line-height: 30px;
}
.section-navbar .menu-search a,
.section-navbar .menu-search i.fa{
    color: #528cff;
}
.section-navbar .hasilpencarian{
    padding: 2%;
    margin-bottom: 0;
    background-color: #E4E1E1;
    color: #727070;
}
.section-navbar .box-result{}
.section-navbar .box-result a{}
.section-navbar .box-result a:hover .search-box-list{
    background: #fafafafa;
}
.section-navbar .box-result .search-box-list{
    padding: 0;
    border-bottom: 1px dotted #ddd;
    clear: both;
}
.section-navbar .box-result .search-box-foto{
    width: 25%;
    border: 0px solid #00ff00;
    float: left;
}
.section-navbar .box-result .search-box-foto img{
    width: 100%;
    clear: both;
    border-radius: 0px;
}
.section-navbar .box-result .search-box-content{
    border: 0px solid #ff0000;
    margin-left: 25%;
    padding: 5px 10px 0;
}
.section-navbar .box-result .search-box-content h4{
    font-size: 1.4em;
    margin: 0px;
}
.section-navbar .box-result .search-box-content .content{
    font-size: 10px;
    color: #a19f9f;
}
.section-navbar .box-result .search-box-content .content img{
    width: 1.8em;
}

/* ================================================================================================================== */
.section-navbar .account{
    padding: 8px 0 5px;
    float: right;
}

.section-navbar .account.user {
    cursor: pointer;
}
.section-navbar .account.user .user-foto{
    width: 34px;
    padding-left: -10px;
    float: left;
}
.section-navbar .account.user .user-foto img{
    width: 109%;
    border-radius: 50%;
    margin-top: -10px;
}
.section-navbar .account.user .user-info{
    margin-left: 0px;
    padding: 0 5px;
    border-bottom: 1px solid #eee;
    cursor: default;
}
.section-navbar .account.user .user-info h4 {
	font-size: 12px;
	margin: 0px 0px;
    padding: 5px;
	/* font-weight: bold; */
	font-size: 15px;
	color: #aaa;
}
.section-navbar .account.user .user-info p{
    font-size: 9px;
    padding: 0 5px;
    margin-bottom: 0;
}
.section-navbar .account.user .user-info p span:first-child{
    color: #ffc10a;
}
.section-navbar .account.user .user-info p span:last-child{
    color: #fff;
    font-size: 11px;
}
.section-navbar .account.user:hover .user-hover{
    display: block;
    opacity: 1;
}
.section-navbar .account.user .user-hover{
    display: none;
    position: absolute;
    top: 100%;
    right: -10px;
    z-index: 100;
    width: 200px;
    padding-top: 0px;
    opacity: 0;
}
.section-navbar .account.user .user-hover ul{
    background: #fff;
    list-style: none;
    padding: 0px;
    margin: 0px;
    border-radius: 0 0 4px 4px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-top: 0px;
}
.section-navbar .account.user .user-hover ul li{}
.section-navbar .account.user .user-hover ul li.driver{
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    border-bottom: 1px solid #ddd;
}
.section-navbar .account.user .user-hover ul li a{
    border-radius: 0px;
    line-height: 35px;
    padding: 0 10px;
    background: transparent;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #444;
}
.section-navbar .account.user .user-hover ul li a:hover{
    background: #eeeeee;
}
.section-navbar .account.user .user-hover ul li:last-child a{}
.section-navbar .account.user .user-hover ul li a .notif{
    float: right;
    margin-top: 9px;
}
.section-navbar .account.user .user-hover ul li a,
.section-navbar .account.user .user-hover ul li a i{
    font-size: 14px;
}


/* ================================================================================================================== */
.section-navbar .navbar-topicon-search{
    padding-left: 20px;
}
.section-navbar .navbar-topicon-start{
    display: block;
}
.section-navbar .navbar-topicon-twoand{
    display: none;
}
.section-navbar .navbar-topicon-twoand .menu-wilayah{

}
.section-navbar .navbar-topicon-twoand .change-wilayah{}

.section-navbar .navbar-topicon-twoand .change-wilayah:hover .top-wilayahhover{
    display: block;
    opacity: 1;
}
.section-navbar .navbar-topicon-twoand .change-wilayah .top-wilayahhover:after{
    position: absolute;
    top: 3px;
    left: 46%;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 8px solid #000;
    border-left: 10px solid transparent;
    content: '';
}
.section-navbar .navbar-topicon-twoand .top-wilayahhover{
    position: absolute;
    left: 31%;
    width: 50%;
    padding-top: 11px;
    display: none;
    cursor: auto;
    opacity: 0;
}
.section-navbar .navbar-topicon-twoand .top-wilayahhover-content{
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #ffffff;
    padding: 5px 10px;
    border: 1px solid rgb(180, 180, 180);
    border-top: 0px;
}
.section-navbar .navbar-topicon-twoand .top-wilayahhover img{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.section-navbar .navbar-topicon-twoand .top-wilayahhover-content a{
    color: white;
    text-decoration: none;
}
.section-navbar .navbar-topicon-twoand .top-wilayahhover-content a:hover{
    color: #528cff;
}



.section-navbar .my-icon{
    /*width: 9.9%;*/
    width: 36px;
    border-bottom: 1px solid transparent;
    float: left;
    margin-right: 75px;
    /*border-radius: 4px;*/
}
.section-navbar .my-icon:hover{
    border-bottom: 1px solid #fff;
}
.section-navbar .my-icon img{
    width: 100%;
    margin-right: 10px;
    /*padding: 4px;*/
}
.section-navbar .my-icon.pull-right{
    margin-right: 0;
    margin-left: 8%;
}

/* ================================================================================================================== */
.header-2nd {
    background: #fff;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.header-2nd .section-menu {
    margin: auto;
}
.header-2nd .section-menu a{
    cursor: pointer;
}
.header-2nd .section-menu a i.fa{
    font-size: 26px;
    line-height: 34px;
    color: #999;
}
.header-2nd .section-menu a:hover i.fa{
    color: #ddd;
}
.header-2nd .section-menu img {
    width: 46px;
}
.header-2nd .section-menu .my-top-wilayah{
    margin-top: 10px;
}
.header-2nd .section-menu .my-top-wilayah p{
    font-size: 14px;
    color: #7C7C7C;
    
}
.header-2nd .section-menu .my-top-wilayah span{
    font-size: 20px;
    color: #7C7C7C;
    cursor: pointer;
}
.header-2nd .section-menu .my-top-wilayah span:hover{
    color: #528cff;
}
.header-2nd .section-menu .my-top-wilayah p,
.header-2nd .section-menu .my-top-wilayah span{
    margin: 0;
}

/* ================================================================================================================== */
.dropdown_kat {
    /*display: none;*/
    top: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 0px solid #ccc;
    border-top: 0px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    /*background: transparent;*/

    position: fixed;
    outline: 0;
    overflow: hidden;
    z-index: 200;
}
.dropdown_kat .menuhover-frame{
    overflow: hidden;
}
.dropdown_kat .menuhover-left{
    border: 2px solid #000;
    border-right: 2px solid #ddd;
    border-top: 0px;
    width: 235px;
    float: left;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}
.dropdown_kat .menuhover-left ul{
    margin-bottom: 0px;
    list-style: none;
    padding: 0px;
    padding-bottom: 10px;
}
.dropdown_kat .menuhover-left ul li{
    /*word-wrap: none !important;*/
    /*white-space: nowrap !important;*/
}
.dropdown_kat .menuhover-left .menuhover-user{
    padding: 5px;
    height: 50px;
    border-bottom: 1px solid #ddd;
    background: #ddd;
    margin-bottom: 10px;
}
.dropdown_kat .menuhover-left .menuhover-user .menuhover-userfoto{
    width: 40px;
    float: left;
}
.dropdown_kat .menuhover-left .menuhover-user .menuhover-userfoto img{
    width: 100%;
    border-radius: 50%;
}
.dropdown_kat .menuhover-left .menuhover-user .menuhover-userinfo{
    margin-left: 50px;
    font-size: 16px;
}
.dropdown_kat .menuhover-left .menuhover-user .menuhover-userinfo h4{
    margin: 0;
    font-size: 16px;
}
.dropdown_kat .menuhover-left .menuhover-user .menuhover-userinfo p{
    margin: 5px 0 0;
    font-size: 10px;
}
.dropdown_kat .menuhover-left .menuhover-user .menuhover-userinfo p span:first-child{
    color: #ffc10a;
}
.dropdown_kat .menuhover-left .menuhover-user .menuhover-userinfo p span:last-child{
    color: #ff5b17;
}
.dropdown_kat .menuhover-left .menuhover-user:hover{
    padding-left: 5px;
}
.dropdown_kat .menuhover-left ul li a{
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    display: inline-block;
    width: 100%;
}
.dropdown_kat .menuhover-left ul li a:last-child{
    border-bottom: 0px solid #ddd;
}
.dropdown_kat .menuhover-left ul li:hover{
    /*padding-left: 10px;*/
}
.dropdown_kat .menuhover-left ul li a:hover{
    background: #ddd;
}
.dropdown_kat .menuhover-left ul li.active{
    padding-left: 10px;
}
.dropdown_kat .menuhover-left ul li a.active{
    background: #ddd;
    border-left: 4px solid #f2180f;
}
.dropdown_kat .menuhover-left ul li.menuhover-driver{
    border-bottom: 1px solid #ddd;
    margin: 5px 10px;
}

/* ================================================================================================================== */
.dropdown_kat .menuhover-right{
    background: #fff;
    /*margin-left: 232px;*/
    /*padding: 10px;*/
    border: 2px solid #000;
    border-top: 0px;
    border-left: 0px;
    overflow: hidden;
}
.dropdown_kat .menuhover-right .menuhover-right-frame{
    overflow-y: auto;
    overflow-x: hidden;
    border: 0px solid #000;
}
.dropdown_kat .menuhover-right .menuhover-contenttitle{
    font-size: 20px;
    padding-bottom: 10px;
    color: #999;
    border-bottom: 1px dotted #dddddd;
    margin-bottom: 10px;
}
.dropdown_kat .menuhover-right .menuhover-content{
    border: 0px solid #ddd;
    position: relative;
}
.dropdown_kat .menuhover-right .menuhover-refresh{
    padding-top: 10%;
    text-align: center;
}
.dropdown_kat .menuhover-right .menuhover-content .menuhover-contentframe{}
.dropdown_kat .menuhover-right .menuhover-content h5{
    font-size: 16px;
    color: #999;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
}
.dropdown_kat .menuhover-right .menuhover-content .menuhover-contentleft{
    border-right: 1px solid #ddd;
    margin-right: 260px;
    padding: 10px;

}
.dropdown_kat .menuhover-right .menuhover-content .menuhover-contentright{
    width: 250px;
    float: right;
    padding: 10px;

}
.dropdown_kat .menuhover-right .menuhover-content .menuhover-contentdata{
    border-radius: 6px;
    position: relative;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
}
.dropdown_kat .menuhover-right .menuhover-content .menuhover-contentright img{
    width: 100%;
    border-radius: 5px;
}
.dropdown_kat .menuhover-right .menuhover-content .menuhover-contentdesc{
    background: rgba(125,125,125,0.6);
    position: absolute;
    padding: 5px 10px;
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    border-radius: 0 0 5px 5px;
}
.dropdown_kat .menuhover-right .menuhover-content .menuhover-contenttab{}
.dropdown_kat .menuhover-right .menuhover-content .menuhover-contenttab h5{
    border-bottom: 0px dotted #eee;
    padding-bottom: 10px;
}
.dropdown_kat .menuhover-right .menuhover-content .menuhover-contenttab a{
    display: inline-block;
    width: 100%;
    line-height: 30px;
    padding: 0 10px;
    text-decoration: none;
}
.dropdown_kat .menuhover-right .menuhover-content .menuhover-contenttab a:hover{
    color: #337ab7;
}
.dropdown_kat .menuhover-right .menuhover-content .menuhover-contenttab ul{
    margin-bottom: 0px;
    background: #fff;
    list-style: none;
    float: left;
    padding: 0;
}
.dropdown_kat .menuhover-right .menuhover-content .menuhover-contenttab ul li{
    width: 100%;
    display: inline-block;
}
.dropdown_kat .menuhover-right .menuhover-content .menuhover-contenttab ul li a{}
.dropdown_kat .menuhover-right .menuhover-content .menuhover-contenttab ul li a:hover{}

/* ================================================================================================================== */
.header-mobile{
    position: relative;
    padding: 0;
    margin: 0;
    background: #f2180f;
    width: 100%;
}




/* ================================================================================================================== */
/* Page */
.banner{
    border:0px solid #000;
}
.banner img{
    width: 100%;
}
.banner .slick-prev i,
.banner .slick-next i{
    color: white;
}
.banner .slick-slide {
    margin: 0 5px;
}
.banner .slick-list {
    padding-left: 53px;
    border-radius: 5px;
}
.banner button.slid-prev,
.banner button.slid-next {
    font-size: 20px;
    position: absolute;
    top: 50%;
    display: block;
    padding: 10px;
    cursor: pointer;
    border: 0px solid #000;
    outline: none;
    background: #00000080;
    z-index: 1;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #999;
}
.banner button.slid-prev {
    left: 0px;
}
.banner button.slid-next {
    right: 0px;
}



.style-content{}

.style-content .content-title {
	padding: 11px 10px 5px;
	font-size: 17px;
}

.style-content .col-set-view{
    padding: 0px;
    margin: 0px;
    border: 0px solid transparent;
    margin-bottom: 20px;
    background: #fff;
    position: relative;
    border-radius: 5px;

    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
.style-content .col-set-view a{
    text-decoration: none;
}
.style-content .col-set-view:hover{
    border-color: #aaa;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transform: translate(0, -3px);
}
.style-content .col-set-view:hover::after {
    opacity: 1;
}



.style-content .col-set-view .btn-bookmark{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0px;
    left: 0px;
    margin: 5px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    color: #fff;
}
.style-content .col-set-view .btn-bookmark:hover{
    color: #528cff;
    outline: none;
}
.style-content .col-set-view:hover .btn-bookmark,
.style-content .col-set-view:hover .content p {
    opacity: 1;
}
.style-content .col-set-view .thumbnail-custom{
    padding: 0px;
    margin: 0;
    border-radius: 6px 6px 5px 5px;
}

.style-content .col-set-view .thumbnail-custom .label-rating{
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}
.style-content .col-set-view .thumbnail-custom .image{
    position: relative;
}
.style-content .col-set-view .thumbnail-custom .image img{
    width: 100%;
    border-radius: 4px 4px 0 0;
}
.style-content .col-set-view .thumbnail-custom .image p{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    top: auto;
    padding: 10px;
    border: 0px solid #000;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    word-break: break-all;
    font-size: 12px;
    opacity: 0;
}
.style-content .col-set-view:hover .thumbnail-custom .image p{
    opacity: 1;
}
.style-content .col-set-view .thumbnail-custom .description{
    font-size: 11px;
    display: block;
    color: #5c5959;
    padding: 0px 7px 9px;
    margin-top: -5px;

}
.style-content .col-set-view .thumbnail-custom .description .des-title{
    
	font-size: 17px;
	/* font-weight: bold; */
	color: #0b0a0a;
	padding: 3px 0 0 0;
        line-height: 12px;
	margin-bottom: 3px;
	text-align: left;

}
.style-content .col-set-view .thumbnail-custom .description .des-title span{
	font-size: 13px;
	margin-top: 0px;
	color: #908C8C;
	font-weight: 100;
}
.style-content .col-set-view .thumbnail-custom .description .location:hover{
    color: #2fb0d1;
}
.style-content .col-set-view .thumbnail-custom .description p{
    margin: 0px;
    padding: 0px;
}
.style-content .col-set-view .thumbnail-custom .description .area{
    font-size: 13px;
}

.style-content .col-set-view .thumbnail-custom .description .report{
    float: right;
    margin-top: 5px;
}
.style-content .col-set-view .thumbnail-custom .description .report span{
    margin-left: 5px;
}

.style-content .col-set-view .thumbnail-custom .description .buka{
    margin-top: 5px;
}


/* Tema */
.style-content .content-foot{
    /*margin-top: 30px;*/
}
.style-content .content-foot .des {
    color: #918d8d;
}
.style-content .content-foot .tema-frame{
    padding-left: 20px;
    padding-right: 20px;
}
.style-content .content-foot .tema{
    background-color: white;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.style-content .content-foot .tema .image{
    width: 30%;
    float: left;
    padding: 5px 0 5px 5px;
    /*padding: 0;*/
    content: " ";
    clear: both;
}
.style-content .content-foot .tema .image img{
    width: 100%;
    margin-top: 3px;
    border-radius: 5px;
}
.style-content .content-foot .tema .deskripsion {
    margin-left: 32%;
    font-size: 9px;
    color: #918d8d;
    padding: 0px 5px;
}
.style-content .content-foot .tema h6.title {
    padding: 6px 0 0px;
    font-size: 19px;
    color: #020202;
    margin:0;
    text-align: left;
}
.style-content .content-foot .tema .des-tema {
    font-size: 12px;
    color: #7e7e7e;
    margin-top:3px;
    margin-bottom:  3px;
    
}

.style-content .content-foot .tema .des-tema-bawahjudul {
    font-size: 12px;
    color: #595959;
    margin:0;
}

.style-content .content-foot .tema .des-tema-tempat {
    font-size: 12px;
    color: #7e7e7e;
    margin:0;
}

.style-content .content-foot .tema .deskripsion .report{
    float: right;
    margin-top: 0px;
    margin-right: 10px;
}

.style-content .content-foot .tema .deskripsion .report img{
    margin-left: 7px;
}

.style-content .content-foot .tema .deskripsion .report .text-ketreport{

    margin-top: 5px;
    font-size: 11px;
    
}

.style-content .content-foot .col-sm-4 {
    margin-bottom: 5px;
}


/* Kategori */
.style-content .content-kategori{
    margin-top: 20px;
}
.style-content .content-kategori .kategori{
    border-radius: 4px;
    padding: 15px;
    border: 1px solid #ddd;
}
.style-content .content-kategori .kategori .punya{
    padding-left: 12px;
    padding-right: 12px;
}
.style-content .content-kategori .kategori .title{
    padding: 0px;
}
.style-content .content-kategori .kategori ul {
    margin: 0;
    padding: 0 10px 0;
}
.style-content .content-kategori .kategori ul {
    list-style-type: none;
    margin-bottom: 20px;
}
.style-content .content-kategori .kategori ul li {
    text-indent: -5px;
    font-size: 12px;
}
.style-content .content-kategori .kategori ul li:before {
    content: "- ";
    text-indent: -5px;
}
.style-content .content-kategori .kategori ul li a{
    cursor: pointer;
    text-decoration: none;
    color :#000000;
    
}
.style-content .content-kategori .kategori a.more:hover{}
.style-content .content-kategori .kategori a.more {
    color: #ec1e24;
    text-decoration: none;
}
.style-content .content-kategori .kategori a.more:hover,
.style-content .content-kategori .kategori ul li a:hover{
    color: #aaaaaa;
}


/* Sidebar */
.side-kanan{
    margin: 20px 0 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}
.side-kanan .kanan-title{
    padding:5px 6px 0;
}

.side-kanan .kanan-title2{
    padding:0px 6px 0;
}
.side-kanan .kanan-frame{
    position: relative;
}

.side-kanan .kanan-frame button{
    z-index: 0;
}
.side-kanan .kanan-frame a {
    text-decoration: none;
}
.side-kanan .thumbnail-kanan{
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 5px;
}
.side-kanan .kanan-frame button:hover ~ a .thumbnail-kanan,
.side-kanan .thumbnail-kanan:hover{
    background: #fff;
}
.side-kanan .thumbnail-kanan .image{
    padding: 1px;
    border-radius: 5px 5px 0 0;
}
.side-kanan .thumbnail-kanan .image img{
    width: 100%;
    margin-top: 0px;
    border-radius: 4px 4px 0 0;
}
.side-kanan .kanan-frame button{
    position: absolute;
    margin: 5px;
    width: 20px;
    height: 20px;
    border-radius: 65%;
    background: rgba(0, 0, 0, 0.17);
    z-index: 1;
    color: white;
    padding: 0.3px 1.5px;
    opacity: 0;
}
.side-kanan .kanan-frame:hover button{
    opacity: 1;
    z-index: 1000;
}
.side-kanan .kanan-frame button:hover{
    color: #2fb0d1;
}
.side-kanan .thumbnail-kanan .image .label-rating{
    margin: 5px;
    font-size: 12px;
    text-align: center;
    font-weight: normal;
    position: absolute;
    top: 0px;
    right: 0;
}
.side-kanan .thumbnail-kanan .description{
    padding: 0px 4px 9px;
    position: static;
}
.side-kanan .thumbnail-kanan .description .desc-title{
    padding: 0px;
    font-size: 13px;
    font-weight: normal;
    margin:0;
    color:#000; 
}
.side-kanan .thumbnail-kanan .description .desc-area{
    color: #717070;
    font-size: 11px;
    margin:0;
}
.side-kanan .thumbnail-kanan .description .desc-over{
    padding: 0px 3px 9px;
    position: absolute;
    visibility: hidden;
    z-index: 500;
    left: 0;
    right: 0;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    opacity: 0;
}
.side-kanan .thumbnail-kanan .description .desc-over .report{
    padding: 0px;
    float: none;
}
.side-kanan .thumbnail-kanan .description .desc-over .report span{
    margin-right: 3px;
}
.side-kanan .thumbnail-kanan .description .desc-over .report span img{
    margin-right: 3px;
}
.side-kanan .thumbnail-kanan .description .desc-over .report .text-iklan{
    display:inline-block;
    vertical-align: middle;
    font-size: 12px;
}


.side-kanan .thumbnail-kanan .description .desc-over .report,
.side-kanan .thumbnail-kanan .description .desc-over p,
.side-kanan .thumbnail-kanan .description .desc-over span{
    margin-top:2px;
    margin-bottom:2px; 
    font-size: 11px;
    color: #a7a9ac;
}

.side-kanan .thumbnail-kanan .description  .lokasi:hover{
  color: #2fb0d1;
}

.side-kanan .kanan-frame button:hover ~ a .thumbnail-kanan .desc-over,
.side-kanan .kanan-frame a:hover .desc-over{
    background: #fff;
    visibility: visible;
    opacity: 1;
    border: 1px solid #dddddd;
    border-top: none;
}



.side-kanan .thumbnail-kanan .description .add{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}
.side-kanan .thumbnail-kanan .description .add:hover{
    color: #528cff;
}
.side-kanan a.more{
    margin-top: 20px;
    padding: 10px;
    font-size: 12px;
    color: #ec1e24;
    float: right;
    border-top: 1px dotted #ddd;
    width: 100%;
    text-align: right;
    text-decoration: none;
}
.side-kanan a.more:hover{
    color: #528cff;
}

.side-kanan .col-list{}
.side-kanan .col-list .toprange{
    overflow: auto;
}
.side-kanan .col-list .toprange .range-image{
    padding: 2px;
    width: 60px;
    float: left;
}
.side-kanan .col-list .toprange .range-image img{
    width: 100%;
    border-radius: 50%;
    clear: both;
}

.side-kanan .col-list .toprange .range-desc {
        margin-left: 70px;
	padding: 7px 0px;
}
.side-kanan .col-list .toprange .range-desc .range-title{
    font-size: 17px;
/*    font-weight: bold;*/
}
.side-kanan .col-list .toprange:hover .range-desc .range-title{
    color: #528cff;
}
.side-kanan .col-list .toprange .range-desc p{
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
    float: left;
    font-size: 12px;
}

.side-kanan .col-list .toprange .range-desc .range-add{
    position: absolute;
    font-size: 27px;
    top: 12px;
    right: 0px;
    margin: 10px 15px;
    cursor: pointer;
    color: #ccc;
}
.side-kanan .col-list .toprange .range-desc .range-add:hover{
    color: #222;
}

/* ================================================================================================================== */


/* ================================================================================================================== */
.view-modal,
.view-full{
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 1500;
    padding: 40px;
    display: none;
}
.view-full{
    padding: 20px;
}
.view-close{
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 6px;
    cursor: pointer;
    padding: 3px;
    border-radius: 4px;
    color: white;
    z-index: 1;
}
.view-close:hover{
    color: white;
    background: #333;
}
.view-frame{
    position: relative;
    margin: auto;
    min-height: 100%;
    background: rgba(0,0,0,0.9);
}
.view-frame .frame-kiri{
    width: 70%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
}
.view-frame .frame-kiri .panel-image .get-img{}
.view-frame .frame-kiri .panel-image .get-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.view-frame .frame-kiri .panel-up,
.view-frame .frame-kiri .panel-down{
    position: absolute;
    border-color: #444;
    z-index: 10;
}
.view-frame .frame-kiri:hover .panel-up,
.view-frame .frame-kiri:hover .panel-leftright span{
    opacity: 1;
}
.view-frame .frame-kiri .panel-up{
    top: 0px;
    width: 100%;
    opacity: 0;
    min-height: 30px;
}
.view-frame .frame-kiri .panel-up a{
    padding: 3px;
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    float: right;
}
.view-frame .frame-kiri .panel-down{
    bottom: 0px;
    width: 100%;
    height: 50px;
    text-align: center;
    border-top: 1px solid;
}
.view-frame .carousel-control{
    width: 3%;
}
.view-frame .carousel-control span{
    font-size: 20px;
}
.view-frame .carousel-control.left,
.view-frame .carousel-control.right {
    background-image: none;
}

.view-frame .carousel{
    height: 100%;
    text-align: center;
}
.view-frame .carousel-inner {
    height: calc(100% - 80px);
}
.view-frame .carousel-inner .item {
    height: 100%;
}
.view-frame .carousel-inner .item img {
    height: 100%;
    width: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 20px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.view-frame .carousel-ul{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #444;
    height: 80px;
}
.view-frame ul.carousel-indicators {
    list-style: none;
    width: auto;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
}
.view-frame ul.carousel-indicators li {
    border: medium none;
    border-radius: 0;
    margin: 0;
    height: 100%;
    width: 80px;
    background: transparent;
    border-color: transparent;
    padding: 2px 0 0px;
}
.view-frame ul.carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    width: 100%;
}
.view-frame ul.carousel-indicators .active img {
    border: 2px solid #428BCA;
}











.view-full .view-frame .frame-full{
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    /*margin-bottom: 41px;*/
}










.view-frame .frame-kanan{
    float: right;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 30%;
    background: #fff;
}
.view-frame .frame-kanan .infouser{
    border-bottom: 1px solid #dddddd;
    overflow: auto;
}
.view-frame .frame-kanan .infouser .infouser-foto{
    width: 70px;
    padding: 5px;
    float: left;
    margin-bottom: 5px;
}
.view-frame .frame-kanan .infouser .infouser-foto img{
    width: 100%;
    border-radius: 50%;
}
.view-frame .frame-kanan .infouser .infouser-text{
    margin-left: 72px;
}
.view-frame .frame-kanan .infouser .infouser-text .infouser-nama{
    font-size: 18px;
}
.view-frame .frame-kanan .infouser .infouser-text .infouser-panel{
    color: #ddd;
}
.view-frame .slick-prev,
.view-frame .slick-next{
    z-index: 1;
}
.view-frame .slick-prev{
    left: 10px;
}
.view-frame .slick-next{
    right: 10px;
}




/* ================================================================================================================== */
footer {
    margin-top: 20px;
    background: #ec1e24;
    padding-top: 10px;
}
.style-footer{}
.style-footer .media .logo{
    background: #fff;
    padding: 5px;
    text-align: center;
    width: 75%;
}
.style-footer .media .logo img{
    width: 100%;
}
.style-footer .media .social{
    padding-top: 25px;
    text-align: right;
}
.style-footer .media .social a{
    border: 1px solid #fff;
    display: inline-block;
    padding: 7px 10px;
    font-size: 30px;
    color: #ec1e24;
    background: #ffffff;
    border-radius: 50%;
}
.style-footer .media .social a:hover{
    border-color: #fff;
    color: #000;
    background: #ffffff;
}
.style-footer .media .social img{
    width: 50px;
}
.style-footer .content{}
.style-footer .content .title{
    padding:0px;
    font-size: 20px;
    color: #fff;
}
.style-footer .content p{
    font-size: 14px;
    color: #fff;
}



/* ================================================================================================================== */
.buttonubahkoordinat{
    background: #002166;
    color: white;
    border-radius: 4px;
    padding: 3px;
    cursor: pointer;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}

.judulkoordinat{
    color: #626262 ;
    font-size: 11px;
    margin-left: 5px;
    float:left;
}

.lg-backdrop {
    z-index: 1540 !important;
}
.lg-outer {
    z-index: 1550 !important;
}