/*!
* Basic from Bootstrap v3.3.2 (http://getbootstrap.com)
* Copyright 2016 
* Template by hyriu (http://hyriu.web.id)
*/


/* =CSS RESET
*  =Global Style
*  =Custome CSS
------------------------------------------------------------ */

/* CSS Reset */



/*Global Style */
.container{
	position: relative;
}
.container-layout{
	width: 1200px;
	display: block;
	margin: 0 auto;
	position: relative;
}
.content-body{
	padding-top: 20px;
	padding-bottom: 50px;
}
.layout-row,
.content-row{
	display: table;
	vertical-align: top;
	width: 100%;
}
.layout-col,
.content-col{
	display: table-cell;
	vertical-align: top;
	width: auto;
}
.content-col{
	padding-left: 10px;
}

.listbox-boxed{
	display: block;
	text-align: center;
	padding: 10px 20px 10px;
	margin-bottom: 10px;
}

/* =CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar-default{
	background-color: #E62629 !important;
}
.navbar-brand{
	font-size: 20px !important;
	color: #ffffff !important;
}

.navbar-maps-layout{
	margin-bottom: 0 !important;
}
.navbar-maps-top{
	display: block;
	height: 50px;
	max-height: 50px;
	padding: 0 20px 0;
}
.navbar-maps{
	display: table;
	width: 100%;
	vertical-align: middle;
	border-top: 1px solid #ffffff;
	padding: 5px 0 0 0;
}
.navbar-maps button{
	font-size: 12px;
}

/* =sidebar
------------------------- */
.sidebar-left{
	width: 250px !important;
}
.sidebar-right{
	width: 290px !important;
}
.sidebar-ads{

}
.nav-sidebar{
	background-color: #ffffff !important;
	padding: 10px 10px 10px 10px !important;
	margin-bottom: 20px;
}
.nav-sidebar title{
	display: block;
	font-size: 15px;
	text-transform: uppercase;
	padding: 10px 5px 10px;
}
.nav-sidebar li{
	color: #232323 !important;
	border-bottom: 1px solid #D1D1D1 !important;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.nav-sidebar li:last-child{
	border-bottom: none !important;
}
.nav-sidebar li.active{
	background-color: #D1D1D1; 
}
.nav-sidebar li a{
	display: block;
	color: #232323 !important;
	font-size: 13px !important;
	padding: 10px 5px !important;
}
.nav-sidebar li a:hover{
	background-color: #D1D1D1 !important; 
}
.nav-sidebar li a .badge-menu-kiri{
	float: right;
}

/* sidebar right */
.content-sidebar-list{
	background-color: #ffffff;
	padding: 20px 10px 20px;
}
.content-sidebar-list title{
	display: block;
	color: #98989A;
	font-size: 15px;
	margin-bottom: 20px;
	font-weight: normal;
}
.content-sidebar-list ul{
	display: block;
	margin: 0;
	padding: 0;
}
.content-sidebar-list ul li{
	display: block;
}
.user-item-box{
	display: table;
	vertical-align: middle;
	width: 250px;
	border: 1px solid #AFAFAF;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-bottom: 10px;
}
.user-item-box .user-item-photo{
	display: table-cell;
	vertical-align: middle;
	width: 63px;
	padding: 5px;
}
.user-item-box .user-item-photo img{
	display: block;
	height: 48px;
	width: 48px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.user-item-box .user-item-desc{
	display: table-cell;
	vertical-align: middle;
	width: auto;
}
.user-item-box .user-item-desc .user-item-desc-name{
	font-size: 15px;
	color: #7b7b7b;
}
.user-item-box .user-item-desc .user-item-desc-info{
	display: block;
}
.user-item-box .user-item-desc .user-item-desc-info ul{
	margin: 0;
	padding: 0;
}
.user-item-box .user-item-desc .user-item-desc-info ul li{
	display: inline-block;
	font-size: 9px;
	margin: 0 5px 0 0;
	color: #C1C1C1;
}
.user-item-box .user-item-action{
	display: table-cell;
	vertical-align: middle;
	width: 45px;
	padding-left: 5px;
	text-align: center;
}

/* sidebar ads */
.content-sidebar-ads{

}
.content-sidebar-ads .ads-img-box{	
	display: block;
	width: 220px;
	height: 400px;
	margin-bottom: 10px;
	float: right;
}
.content-sidebar-ads .ads-img-box img{
	display: block;
	width: 220px;
	height: 400px;
	object-fit: cover;
}

/* =banner
------------------------- */
.banner-box{
	display: block;
	width: 100%;
	height: 400px;
	position: relative;
}
.banner-box .banner-img{
	display: block;
	width: 100%;
	height: 100%;
	z-index: 0;
	object-fit: cover;
}
.profile-main-box{
	margin: 0 auto;
	display: block;
	height: 255px;
	width: 769px;
	position: absolute;
	top: 112px;
	left: 0;
	right: 0;
	background-color: #EFF4F9;
	padding: 10px 20px 10px;
	z-index: 10;
}
.profile-main-box .pm-top{
	display: table;
	vertical-align: top;
	width: 100%;
}
.profile-main-box .pm-top .pm-top-left{
	display: table-cell;
	vertical-align: top;
	width: 220px;
	position: relative;
}
.profile-main-box .pm-top .pm-top-left .pm-photo{
	display: block;
	position: absolute;
	height: 200px;
	width: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border: 6px solid #ffffff;
	top: -100px;
	left: 10px;
	background-color: #ffffff;
}
.profile-main-box .pm-top .pm-top-left .pm-photo img{
	display: block;
	height: 190px;
	width: 190px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.profile-main-box .pm-top .pm-top-left .btn{
	margin: 110px auto 0;
	display: table;
	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-color: #B9CFF4 !important;
	background-color: #B9CFF4 !important;
	color: #232323 !important;
	padding: 2px 25px 2px !important;
	text-transform: none !important;
	font-size: 16px !important
	line-height: 25px;
}
.profile-main-box .pm-top .pm-top-right{
	display: table-cell;
	vertical-align: top;
	width: auto;
	padding-left: 10px;
}
.profile-main-box .pm-top .pm-top-right h3{
	font-size: 40px;
	margin-bottom: 0px;
	margin-top: 0px;
}
.profile-main-box .pm-top .pm-top-right h4{
	font-size: 18px;
	color: #BBBDC0;
}
.profile-main-box .pm-top .pm-top-right h5{
	font-size: 13px;
	color: #BBBDC0;
}
.profile-main-box .pm-top .pm-top-right ul{
	display: block;
	margin: 30px 0 15px 0;
}
.profile-main-box .pm-top .pm-top-right ul li{
	display: inline-block;
	vertical-align: middle;
	width: auto;
	margin-right: 20px;
}
.profile-main-box .pm-top .pm-top-right ul li p{
	display: inline-block;
	font-size: 24px;
	position: relative;
	top: 4px;
}
/* condition icon trophy with text color */
.profile-main-box .pm-top .pm-top-right ul li.color-trophy-1 p{
	color: #FDCA2B;;
}
.profile-main-box .pm-top .pm-top-right ul li.color-trophy-2 p{
	color: #CCCCCC;
}
.profile-main-box .pm-top .pm-top-right ul li.color-trophy-3 p{
	color: #DA7D56;
}
.profile-main-box .pm-top .pm-top-right ul li.color-trophy-4 p{
	color: #C6B88B;
}
.profile-main-box .pm-top .pm-top-right ul li.color-trophy-local p{
	color: #F98303;
}

.profile-main-box .pm-bottom{
	border-top: 1px solid #D9DCE1;
	margin-top: 10px;
	padding: 8px 15px 0px;
}
.profile-main-box .pm-bottom ul{
	display: table;
	margin: 0;
	padding: 0 0 0 210px;
}
.profile-main-box .pm-bottom ul li{
	display: inline-block;
	margin: 0 auto;
	padding: 0 5px 0;
}
/* nav banner */
.nav-banner{
	display: block;
	min-height: 50px;
	background-color: #ffffff;
	border-bottom: 1px solid #EDEEF0;
}
.nav-banner .banner-status-top{
	display: table;
	vertical-align: top;
	width: 100%;
	height: 50px;
	margin-bottom: 0px;
}
.nav-banner .banner-status-top li{
	display: table-cell;
	vertical-align: middle;
	width: auto;
	text-align: center;
	font-size: 15px;
	color: #727272;
}
.nav-banner .banner-status-top li a{
	display: block;
}
.nav-banner .banner-status-top li span{
	display: inline-block;
	vertical-align: middle;
}
.nav-banner .banner-status-bottom{
	display: table;
	vertical-align: top;
	width: 100%;
	margin: 0;
	padding: 10px 10px 10px 10px;
}
.nav-banner .banner-status-bottom li{
	display: table-cell;
	vertical-align: middle;
	width: auto;
}
.nav-banner .banner-status-bottom li img{
	display: block;
	margin: 0 auto;
}

/* = Content
------------------------- */
.panel-content-title{
	background-color: #ffffff;
	display: block;
	min-height: 35px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 5px 10px 5px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-bottom: 10px;
}
.panel-content-title label{
	font-weight: normal;
	display: inline-block;
	font-size: 13px;
	margin: 0 3px 0 0;
}
.panel-content-title h4{
	display: inline-block;
	font-size: 13px;
}
.panel-content-title .divbox-table-cell:first-child{
	width: 60%;
}

/* nav tab for maps */
.nav-tabs#ContentMapsTab{
	background-color: #F2F6F9;
}
.nav-tabs#ContentMapsTab ul li{
	border-bottom: 3px solid #ffffff;
}
.nav-tabs#ContentMapsTab ul li:first-child{
	border-right: 1px solid #CACCCE;
}
.nav-tabs#ContentMapsTab ul li.active{
	border-bottom: 3px solid red;
}
.nav-tabs#ContentMapsTab ul li a{
	font-size: 16px;
	padding: 10px 10px 10px;
}
/* nav tab */
.nav-tabs{
	background-color: #ffffff;
	display: block;
	min-height: 35px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-bottom: 10px;
	padding: 0;
	border-bottom: none !important;
}
.nav-tabs ul{
	display: table;
	vertical-align: top;
	width: 100%;
	padding: 0;
	margin: 0;
}
.nav-tabs ul li{
	display: table-cell;
	vertical-align: middle;
	width: auto;
	text-align: center;
	padding: 0;
	border-right: 1px solid #ECEDEF;
	border-bottom: 5px solid #ffffff;
}
.nav-tabs ul.width-tab-2 li{width: 50%;}
.nav-tabs ul.width-tab-3 li{width: 33%;}
.nav-tabs ul.width-tab-4 li{width: 25%;}

.nav-tabs ul li:last-child{
	border-right: none;
}
.nav-tabs ul li.btn-right-go{
	width: 46px;
	text-align: center;
}
.nav-tabs ul li.btn-right-go a{
	padding: 0;
	display: block;
	margin: 0 auto;
}
.nav-tabs ul li.active{
	border-bottom: 5px solid red;
}
.nav-tabs ul li a{
	display: block;
	font-size: 14px;
	color: #989899;
	text-transform: uppercase;
	padding: 10px 20px 10px;
}
.nav-tabs ul li a:hover,
.nav-tabs ul li a:focus{
	color: #989899 !important;
	text-decoration: none !important;
}

/* =Profile, list content
------------------------- */
.listbox{
	background-color: #ffffff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-bottom: 10px;
	padding: 10px;
}
.listbox hr{
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
.listbox .iconbox{
	color: #B4B4B4;
	font-size: 12px;
	line-height: 20px;
}
.panel-navtop{
	position: absolute;
	display: table;
	vertical-align: middle;
	top: 0;
}
.panel-navtop a{
	margin-right: 0;
}
.rate-value-box{
	display: block;
	width: 30px;
	float: right;
	margin-right: 8px;
	background-color: #3AB149;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	padding: 1px 2px 1px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.itemsub-box{
	display: table;
	vertical-align: top;
	width: 100%;
}
.itemsub-photo{
	display: table-cell;
	vertical-align: top;
	width: 160px;
	position: relative;
}
.itemsub-photo .panel-navtop{
	width: 100%;
	padding: 5px 5px 0;
}
.itemsub-photo img{
	display: block;
	width: 155px;
	max-width: 155px;
	height: 98px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	object-fit: cover;
}
.itemsub-desc{
	display: table-cell;
	vertical-align: middle;
	width: auto;
	padding-left: 10px;
	position: relative;
}
.itemsub-desc .panel-navtop{
	right: 0;
}
.itemsub-desc h4{
	font-size: 16px;
	margin: 0;
}
.itemsub-desc h5{
	line-height: 20px;
	font-size: 12px;
	margin: 0;
}
.itemsub-desc p{
	font-size: 12px;
	color: #B4B4B4;
	margin: 0 3px 0 0;
}
.panel-bottom{
	display: table;
	vertical-align: middle;
	width: 100%;
	color: #B4B4B4;
	font-size: 12px;
	padding: 5px 0 5px;
}
.panel-bottom p{
	display: inline-block;
	vertical-align: middle;
	color: #B4B4B4;
	font-size: 12px;
	margin: 0 5px 0 0;
}
.panel-bottom a{
	display: inline-block;
	vertical-align: middle;
	/*color: #B4B4B4 !important;*/
	font-size: 12px;
	margin-right: 5px;
	width: auto;
}
.navtop-seekmenu-btn{
	position: relative;
	display: table;
	width: 35px;
}
.navtop-seekmenu-btn:hover .navtop-seekmenu{
	display: block;
}
.navtop-seekmenu-btn .navtop-seekmenu{
	display: none;
	position: absolute;
	width: 185px;
	top: 0;
	left: 26px;
	background-color: #F7F7F7;
	padding: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.navtop-seekmenu-btn .navtop-seekmenu a{
	display: table;
	vertical-align: middle;
	width: 100%;
}

/* list profile */
.item-profile{
	display: block;
}
.item-profile .itemsub-photo{
	display: table-cell;
	vertical-align: middle;
	width: 70px;
}
.item-profile .itemsub-photo img{
	display: block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	margin: 0 auto;
}
/* list horizontal */
.item-horizontal{
	display: block;
}
.item-horizontal .itemsub-photo{}
.item-horizontal .itemsub-photo img{}

/* list vertical */
.ul-list-vertical{
	display: block;
	margin: 0;
	padding: 0;
}
.ul-list-vertical li{
	display: inline-block;
	margin: 0 10px 10px 0;
}
.ul-list-vertical li:last-child{
	margin: 0 0 10px 0;
}
.item-vertical{
	display: block;
}
.item-vertical{
	display: block;
	width: 290px;
	margin-bottom: 10px;
	vertical-align: top;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background-color: #ffffff;
	position: relative;
}
.item-vertical .itemsub-box{
	display: block;
}
.item-vertical .itemsub-photo{
	display: block;
	width: 290px;
	height: 170px;	
	margin: 0 auto;
}
.item-vertical .itemsub-photo img{
	display: block;
	width: 290px;
	max-width: 290px;
	height: 170px;
	margin: 0 auto;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	object-fit: cover;
}
.itemsub-desc-vertical{
	display: block;
	padding: 5px 5px 8px;
}
.itemsub-desc-vertical .itemsub-desc{
	display: table;
	width: 100%;
	padding: 0;
}
.itemsub-desc-vertical .col-md-8,
.itemsub-desc-vertical .col-md-7,
.itemsub-desc-vertical .col-md-6,
.itemsub-desc-vertical .col-md-5,
.itemsub-desc-vertical .col-md-4,
.itemsub-desc-vertical .col-md-3{
	padding: 0;
}
.profile-photo-small{
	margin: 0 !important;
	display: block !important;
	height: 30px !important;
	width: 30px !important;
	max-width: 30px !important;
	border-radius: 50% !important;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border: 1px solid #C2C0BB !important;
}

/* item gallery */
.item-gallery,
.item-article-gallery{
	display: block;
}
.item-gallery ul,
.item-article-gallery ul{
	display: table;
	vertical-align: top;
	width: 100%;
	padding: 0px 15px 0px;
	margin: 0 auto;
}
.item-gallery ul li,
.item-article-gallery ul li{
	display: table-cell;
	vertical-align: middle;
	width: 135px;
	max-width: 135px;
	padding: 5px;
}
.item-gallery ul li img,
.item-article-gallery ul li img{
	display: block;
	width: 135px;
	max-width: 135px;
	height: 90px;
	margin: 0 auto;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	object-fit: cover;
}
.item-gallery .item-gallery-more-box{
	position: relative;
}
.item-gallery .item-gallery-more-box:hover .item-gallery-more-desc{
	opacity: 1;
}
.item-gallery .item-gallery-more-box .item-gallery-more-desc{
	opacity: 0;
	display: block;
	position: absolute;
	bottom: 5px;
	left: 7px;
	background-color: rgba(0,0,0,0.8);
	height: 22px;
	width: 135px;
	padding: 2px 2px 2px 2px;
	border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	color: #ffffff;
	text-align: center;
	font-size: 12px;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
}

/* item assessment */
.item-assessment{
	display: block;
}
.item-assessment ul{
	display: table;
	vertical-align: middle;
	width: 100%;
	margin: 0;
	padding: 0;
}
.item-assessment ul li{
	display: table-cell;
	vertical-align: middle;
	width: auto;
	text-align: center;
}
.item-assessment .item-assessment-total{
	font-size: 40px;
	line-height: 50px;
	text-align: center;
	height: 60px;
	width: 80px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	display: block;
	margin: 0 auto;
	padding: 5px 5px 5px 5px;
	background-color: #0B9533;
	color: #ffffff;
}
.item-assessment .item-assessment-item{
	display: table;
	margin: 0 auto;
}
.item-assessment .item-assessment-item h3{
	color: #0B9533;
	font-size: 30px;
	margin: 0;
}
.item-assessment .item-assessment-item span{}
.item-assessment .item-assessment-item h5{
	border-top: 1px solid #B4B4B4;
	padding-top: 3px;
	margin: 0;
}

/* article content */
.item-article{
	display: block;
	padding: 0 10px 0;
}
.item-article .item-article-top{}
.item-article .item-article-top sub{
	font-size: 12px;
}
.item-article .item-article-gallery-bottom{
	display: block;
	padding: 5px 0 5px;
}
.item-article .item-article-gallery-bottom p{
	color: #B4B4B4;
	font-size: 14px;
	line-height: 20px;
	margin: 0 3px 0 0;
	display: inline-block;
}
.hastag{
	display: inline-block;
	margin: 2px 5px 2px;
	background-color: #2A9DDC;
	color: #ffffff !important;
	padding: 2px 3px 2px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
.hastag:hover{
	background-color: #1F83B8;
	color: #ffffff !important;
}
.hastag-listbox{
	margin: 5px 0 5px;
}
.hastag .glyphicon{
	font-size: 10px;
	color: #ffffff;
	padding: 0 2px 0;
}

/* =Pertemanan
------------------------- */
.friendpage-banner{
	display: table;
	vertical-align: top;
	width: 100%;
	height: 300px;
	background-color: #ffffff;
	margin-bottom: 10px;
	padding: 20px;
}
.friendpage-banner .friendpage-banner-photo{
	display: table-cell;
	vertical-align: middle;
	width: 300px;
}
.friendpage-banner .friendpage-banner-photo img{
	display: block;
}
.friendpage-banner .friendpage-banner-desc{
	display: table-cell;
	vertical-align: middle;
	width: auto;
}
.friendpage-banner .friendpage-banner-desc .btn{
	display: table;
	margin: 0 auto;
}
.friendpage-listgroup-box{
	background-color: #ffffff;
	padding: 10px 20px 10px;
	margin-bottom: 10px;
}
.friendpage-listgroup-panel{
	display: block;
	margin-bottom: 10px;
}
.friendpage-listgroup-panel label{
	font-size: 16px;
	font-weight: normal;
}
.friendpage-listgroup-panel p{
	margin: 0;
}
.friendpage-listgroup-list{}
.friendpage-listgroup-list ul{
	margin: 0;
	padding: 0;
}
.friendpage-listgroup-list ul li{
	display: inline-block;
	margin: 3px 10px 3px 0px;
}
.friendpage-listgroup-label{
	padding: 10px 0 10px;
}
.friendpage-listgroup-label label{}
.friendpage-listgroup-label .input-group{
	margin-top: 5px;
	margin-bottom: 10px; 
}
.friendpage-listgroup-label p{
	color: #7b7b7b;
}

#SocialTabOnTopTab.nav-tabs,
#SocialTabOnBottomTab.nav-tabs{
}
#SocialTabOnTopTab.nav-tabs ul,
#SocialTabOnBottomTab.nav-tabs ul{
	width: auto;
}
#SocialTabOnTopTab.nav-tabs ul li{
	width: 150px;
	background-color: #ffffff;
	border-bottom: none;
	border-right: none;
}
#SocialTabOnBottomTab.nav-tabs ul li{
	width: auto;
	background-color: #ffffff;
	border-bottom: none;
	border-right: none;
}
#SocialTabOnTopTab.nav-tabs ul li.active,
#SocialTabOnBottomTab.nav-tabs ul li.active{
	background-color: #839EAF;
	border-bottom: none;
}
#SocialTabOnTopTab.nav-tabs ul li a{
	font-size: 16px;
	padding: 10px 20px 10px;
	text-transform: none;
}
#SocialTabOnBottomTab.nav-tabs ul li a{
	font-size: 14px;
	padding: 10px;
	text-transform: none;
}
#SocialTabOnTopTab.nav-tabs ul li.active a,
#SocialTabOnBottomTab.nav-tabs ul li.active a{
	color: #ffffff;
}
#SocialTabOnTopTab.nav-tabs ul li a:hover,
#SocialTabOnBottomTab.nav-tabs ul li a:hover{

}
#SocialTabOnTopTab.nav-tabs ul li a:focus,
#SocialTabOnBottomTab.nav-tabs ul li a:focus{
	color: #ffffff !important;
	text-decoration: none !important;
}

/* =Collection
------------------------- */
.collection-listgroup-box{
	background-color: #ffffff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 20px;
	margin-bottom: 20px;
}
.collection-title{
	display: table;
	vertical-align: top;
	width: 100%;
	margin-bottom: 20px;
}
.collection-title h3{
	font-size: 18px;
	margin: 0;
}
.collection-content{
	display: block;
}
.collection-content ul{
	display: block;
	margin: 0;
	padding: 0;
}
.collection-content ul li{
	display: inline-block;
	width: auto;
	margin-right: 10px;
}
.collection-content ul li:last-child{
	margin-right: 0;
}
.folderbox-item-tooltip{
	display: none;
	background-color: #232323;
	padding: 5px 8px 5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	position: absolute;
	width: 280px;
	max-width: 280px;
	bottom: 149px;
	left: -70px;
	z-index: 10;
}
.folderbox-item-tooltip:after{
	content: "";
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 15px solid #232323;
	position: absolute;
	bottom: -15px;
	left: 105px;
	z-index: 10;
}
.folderbox-item-tooltip h5{
	margin: 0;
	color: #ffffff;
	font-size: 12px;
}
.folderbox-item:hover .folderbox-item-tooltip{
	display: block;
}
.folderbox-item{
	display: block;
	margin: 5px;
	width: 130px;
	position: relative;
	cursor: pointer;
}
.folderbox-navbar{
	display: block;
	background-color: #BFBEBA;
	width: 60px;
	height: 20px;
	border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
}
.folderbox-navbar a{
	display: block;
	font-size: 11px;
	padding-left: 8px;
	color: #6B6B6D !important;
}
.folderbox-desc{
	display: block;
	background-color: #DBDBD9;
	border-radius: 0 3px 3px 3px;
	-webkit-border-radius: 0 3px 3px 3px;
	-moz-border-radius: 0 3px 3px 3px;
	position: relative;
	padding: 5px;
	width: 130px;
	height: 85px;
}
.folderbox-desc-top{
	position: absolute;
	top: 0;
	left: 0;
	display: table;
	width: 100%;
	padding: 3px 3px 0px
}
.folderbox-desc-top img{
	display: block;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 1px solid #C2C0BB;
	margin-right: 2px;
}
.folderbox-user-box .folderbox-user{
	display: inline-block;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 1px solid #C2C0BB;
	margin: 0 0 2px 0;
}
.folderbox-desc-content{
	display: block;
}
.folderbox-desc-content img{
	display: block;
	margin: 10px auto 0;
	width: 86px;
	height: 48px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.folderbox-desc-content p{
	font-size: 10px;
	margin: 0;
	text-align: center;
}
.folderbox-desc-content .iconbox{
	display: table;
	margin: 24px auto 0;
}
.folderbox-desc-content .folderbox-user-box{
	display: table;
	margin: 23px auto 0;
	text-align: center;
}
.folderbox-desc-content .folderbox-user-box a{
	display: block;
	font-size: 10px;
}
.folderbox-label{
	font-size: 12px;
	text-align: center;
	padding: 5px;
}

/* =Tripper Guide
------------------------- */
.tripper-guide-page{}
.tripper-guide-page .panel-content-title{
	margin-top: 30px;
}
.tripper-headerbox{
	background-color: #ffffff;
	display: block;
	padding: 20px;
	margin-bottom: 10px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.tripper-headerbox-title{
	text-align: center;
}
.tripper-headerbox-title a{
	font-size: 18px;
}
.tripper-headerbox-panel{

}
.tripper-headerbox-desc{
	margin-top: 10px;
	border-top: 1px solid #eaeaea;
	padding-top: 10px;
	text-align: center;
}
.tripper-sharebox{
	background-color: #ffffff;
	display: block;
	padding: 20px;
	margin-bottom: 10px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.tripper-sharebox ul{
	padding: 0;
	margin: 0;
}
.tripper-sharebox ul li{
	display: inline-block;
	margin-right: 5px;
}
.tripperpage-listgroup-box{
	background-color: #ffffff;
	padding: 10px 20px 10px;
	margin-bottom: 10px;
}
.tripperpage-listgroup-box hr{
	margin-top: 10px;
	margin-bottom: 10px;
}
.tripperpage-listgroup-box ul li{
	margin: 5px 40px 5px 0;
}
.tripperpage-listgroup-box ul li:last-child{
	margin: 5px 0 5px 0;
}
.tripper-guide-page .item-horizontal .itemsub-desc .divbox-table-cell{
	width: 50%;
}
.tripper-guide-page .item-horizontal .itemsub-photo{
	width: 280px;
}
.tripper-guide-page .item-horizontal .itemsub-photo img{
	width: 280px;
	max-width: 280px;
	height: 151px;
}
.tripper-searchbox{
	width: 65%;
	margin: 10px auto 20px;
}

/* =Maps
------------------------- */
.maps-pages{
	display: table;
	vertical-align: top;
	width: 100%;
}
.maps-sidebar{
	display: table-cell;
	vertical-align: top;
	background-color: #ffffff;
	width: 400px;
	margin: 0;
	padding: 0;
	overflow: auto;
	position: relative;
}
.maps-view{
	display: table-cell;
	vertical-align: top;
	width: auto;
}
.maps-view iframe{
	width: 100%;
	height: 83vh;
}
.maps-content-box{
	display: block;
	padding: 0;
	margin: 0;
	position: relative;
	height: 68vh;
	max-height: 68vh;
	overflow: auto;
}
.maps-content-box hr{
	width: 362px;
	margin-top: 8px;
	margin-bottom: 8px;
}
.maps-header-profile{
	display: block;
	padding: 10px 20px 0px;
	text-align: center;
	position: relative;
}
.maps-header-profile img{
	display: block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	margin: 0 auto 5px;
	border: 3px solid #C0C0C0;
}
.maps-header-profile h3{
	font-size: 16px;
	margin: 5px 0 5px;
}
.maps-header-profile p{
	color: #B4B4B4;
}
.maps-pages .item-horizontal{
	padding: 0 20px 0;
}
.maps-pages .itemsub-photo{
	width: 115px;
}
.maps-pages .itemsub-photo img{
	width: 105px;
	max-width: 105px;
	height: 75px;
}
.maps-pages .itemsub-desc{
	padding-left: 3px;
}
.maps-content-label{
	display: block;
	text-align: center;
	padding: 5px 20px 5px 20px;
}
.maps-content-label h4{
	font-size: 16px;
	margin: 5px 0 5px;
}
.maps-content-label h5{
	color: #B4B4B4;
	margin: 0;
}
.tab-content#ContentMaps{
	padding: 0 20px 40px;
}

.maps-pages .item-gallery{}
.maps-pages .item-gallery ul{
	padding: 0;
}
.maps-pages .item-gallery ul li{
	width: 90px;
	max-width: 90px;
}
.maps-pages .item-gallery ul li img{
	width: 90px;
	max-width: 90px;
	height: 70px;
}
.maps-point{
	position: absolute;
}
.maps-point:hover .maps-point-tooltip{
	display: block;
}
.maps-point-tooltip{
	display: none;
	background-color: #ffffff;
	border: 1px solid #eaeaea;
	padding: 5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	position: absolute;
	width: 405px;
	bottom: 60px;
	left: -173px;
	z-index: 10;
}
.maps-point-tooltip:after{
	content: "";
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 15px solid #ffffff;
	position: absolute;
	bottom: -15px;
	left: 172px;
	z-index: 10;
}
.maps-point-tooltip .item-horizontal{
	padding: 0;
}
.maps-point-tooltip .panel-maps-extra-top h4{
	margin: 0px 0 3px;
	font-size: 16px;
}

/* =Pengaturan - Profil
------------------------- */
.setting-profile-page{
	background-color: #ffffff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin-bottom: 10px;
	padding: 20px 20px 50px 20px;
}
.setting-profile-title{
	display: table;
	width: 100%;
	vertical-align: middle;
	padding: 10px 0 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eaeaea;
}
.setting-profile-title .sp-left{
	display: table-cell;
	vertical-align: middle;
	width: auto;
	text-align: center;
}
.setting-profile-title .sp-left h3{
	display: inline-block;
}
.setting-profile-title .sp-left h4{
	display: inline-block;
	font-size: 14px;
	color: #FF0000;
}
.setting-profile-title.notyetverified h4{
	color: #FF0000;
}
.setting-profile-title.verified h4{
	color: #219B08;
}
.setting-profile-title .sp-right{
	display: table-cell;
	vertical-align: middle;
	width: 70px;
	text-align: center;
}
.setting-profile-content{}
.setting-profile-photo{
	display: block;
	margin: 0 auto;
	width: 180px;
	padding: 10px;
	text-align: center;
	background-color: #DEDFE1;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.setting-profile-photo img{
	display: block;
	width: 160px;
	height: 160px;
}
#pilihphotoku .modal-dialog{
	width: 900px;
}
.setting-profile-photo-option{
	display: block;
	margin: 0 auto;
	width: 180px;
	padding: 10px;
	text-align: center;
	background-color: #DEDFE1;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.setting-profile-photo-option .button-upload-photo{
	margin: 10px auto 0;
}
.sp-photo-option-square-big{
	display: inline-block;
	width: 160px;
	height: 160px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.sp-photo-option-square{
	display: inline-block;
	width: 80px;
	height: 80px;
	border: 2px solid #DEDFE1;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.setting-profile-photo-option-rectangle{
	display: block;
	margin: 0 auto;
	width: 320px;
	padding: 10px;
	text-align: center;
	background-color: #DEDFE1;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.sp-photo-option-rectangle-big{
	display: inline-block;
	width: 300px;
	height: 160px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.sp-photo-option-rectangle{
	display: inline-block;
	width: 180px;
	height: 80px;
	border: 2px solid #DEDFE1;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.sp-photo-option-list{
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	text-align: center;
}
.sp-photo-option-list li{
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
}
.sp-photo-option-title{
	display: table;
	margin: 0 auto 20px;
	color: #616264;
	font-size: 16px;
	background-color: #E6E6E8;
	padding: 5px 10px 5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.setting-profile-form-title{
	display: block;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	padding: 10px 5px 10px;
	font-size: 18px;
	margin: 10px 0 10px;
}
.setting-profile-form .form-group label{
	font-weight: normal;
}
.setting-profile-form .form-inline label.control-label{
	width: 150px;
}
.setting-profile-form .form-inline .modern-input-desc{
	padding-left: 155px;
}
.setting-profile-form .input-group .form-control{
	border-right: 1px solid #ccc !important;
	border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
}
.setting-profile-form .input-group .input-group-addon{
	border: none;
}
.setting-profile-info{
	padding: 10px 0 20px;
}
.setting-profile-info img{
	width: 200px;
}
.setting-profile-info .divbox-table-cell{
	vertical-align: top !important;
	width: 50%;
}
.sp-btn-gantikota{
	display: table;
	vertical-align: middle;
	width: 100%; 
}
.sp-btn-gantikota input[type="text"]{
	display: table-cell;
	vertical-align: middle;
	width: 78%;
	background-color: #D7DBDE;
	color: #8C8C8E;
}
.sp-btn-gantikota .btn{
	display: table-cell;
	vertical-align: middle;
	width: 100px;
	height: 34px;
	position: relative;
	left: -2px;
	z-index: 10;
}
/* =Pengaturan - Notification
------------------------- */
.setting-notification-page{
	background-color: #ffffff;
	padding: 0 0 30px 0;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.setting-notification-title-top{
	background-color: #E82529;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-align: center;
	padding: 20px;
}
.setting-notification-title-top h3{
	color: #ffffff;
	margin: 0;
}
.setting-notification-desc{
	padding: 15px 20px 15px;
}
.setting-notification-desc h4{
	margin: 0;
}
.setting-notification-title{
	background-color: #D6D4D5;
	padding: 20px;
}
.setting-notification-title h3{
	margin: 0;
}
.setting-notification-list{
	display: block;
	margin: 0;
	padding: 0 20px 0;
}
.setting-notification-list li{
	display: table;
	vertical-align: middle;
	width: 100%;
	padding: 0;
	border-bottom: 1px solid #eaeaea;
	padding: 5px 5px 5px 15px;
}
.snl-desc{
	display: table-cell;
	vertical-align: middle;
	width: auto;
}
.snl-desc h4{
	margin: 5px 0 5px; 
}
.snl-desc p{}
.snl-buttonbox{
	display: table-cell;
	vertical-align: middle;
	width: 75px;
	text-align: center;
}
.snl-buttonbox p{
	margin: 0 0 5px 0;
}

/* =Pengaturan - Keamanan
------------------------- */
.setting-security-page{
	background-color: #ffffff;
	padding: 0 20px 30px 20px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.setting-security-title{
	display: block;
	text-align: center;
	padding: 15px;
	margin-bottom: 10px;
}
.setting-security-title h3{
	margin: 0;
}
.modern-form-group .input-group{
	width: 100%;
}
.setting-security-page .setting-security-boxed .btn-primary{
	float: right;
}
.setting-security-status{
	display: block;
	margin: 20px auto 10px;
	font-size: 15px;
	text-align: center;
}
.setting-security-status.verified,
.setting-security-status.verified .glyphicon{
	color: #209A07;
}
.setting-security-status.error,
.setting-security-status.error .glyphicon{
	color: #D62245;
}

.modern-collapse-box{
	display: block;
	padding: 15px 10px 15px;
	background-color: #ffffff;
	margin-bottom: 10px;
}
.modern-collapse-content{
	background-color: #ffffff;
	padding: 20px 0 20px;
	margin-bottom: 15px;
}
.modern-collapse-box h4{
	color: #232323;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}
.modern-collapse-box:hover h4{
	color: #232323;
}
.modern-collapse-box .iconbox{
	display: inline-block;
	vertical-align: middle;
	float: right;
	top: -5px;
	position: relative;
}
.modern-collapse-box .iconbox .ic-arrow-up{
	display: none;
}
.modern-collapse-box[aria-expanded="true"] .iconbox .ic-arrow-down{
	display: none;
}
.modern-collapse-box[aria-expanded="true"] .iconbox .ic-arrow-up{
	display: block;
}
.modern-collapse-box .modern-collapse-profile{
	display: inline-block;
	vertical-align: middle;
	margin-left: 28%;
	margin-right: 10px;
	height: 28px;
	width: 28px;
}
.modern-collapse-box .modern-collapse-profile img{
	display: block;
	height: 28px;
	width: 28px;
	object-fit: cover;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.setting-security-page .modern-collapse-box{
	border-top: 1px solid #BCBABB;
	border-bottom: 1px solid #BCBABB;
}
.setting-security-page-detail .setting-security-boxed{
	display: block;
	margin: 0 auto;
	width: 400px;
	padding: 10px 20px 20px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.setting-security-page-detail .setting-security-title{
	border-bottom: 1px solid #cccccc;
	margin-bottom: 30px;
}
.setting-security-page-detail .setting-security-boxed .control-label{
	font-weight: normal;
}
.setting-security-page-detail .setting-security-boxed .radio label{
	display: block;
	margin-bottom: 10px;
}

/* =Pencapaian - Riwayat
------------------------- */
.pencapaian-riwayat-page{}
.pencapaian-riwayat-page .modern-collapse-content ul{
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
}
.pencapaian-riwayat-page .modern-collapse-content ul li{
	display: inline-block;
	margin: 10px auto 10px;
	padding: 0 10px 0;
}
.calendar-item-box{
	display: block;
	margin: 0 auto;
	width: 238px;
	height: 255px;
	position: relative;
	text-align: center;
}
.calendar-item-box:before{
	content: "";
	background: url(../images/bgcalendar.png) no-repeat;
	display: block;
	width: 235px;
	height: 255px;
	background-position: center center;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}
.calendar-item-box label{
	display: block;
	position: relative;
	z-index: 10;
	font-weight: normal;
	color: #ffffff;
	font-size: 24px;
	margin: 0;
	padding: 48px 0 30px;
}
.calendar-item-status{
	display: table;
	width: 100%;
	vertical-align: bottom;
	z-index: 10;
	position: relative;
	padding: 10px 20px 10px 20px;
	height: 153px;
}
.calendar-item-status img{
	display: block;
	margin: 0 auto;
	position: absolute;
	bottom: 25px;
	left: 0;
	right: 0;
}
.pencapaian-riwayat-status{
	display: block;
	text-align: center;
	margin: 30px auto 10px;
}
.pencapaian-riwayat-status p{
	font-weight: bold;
	font-size: 16px;
}

/* =Pencapaian - Kontribusi
------------------------- */
.pencapaian-kontribusi-page .modern-collapse-content{
	padding: 20px;
}
.summer-table-box{
	display: table;
	vertical-align: top;
	width: 100%;
	margin-top: 20px; 
}
.summer-header{
	display: block;
	text-align: center;
	background-color: #232323;
	color: #ffffff;
	font-size: 20px;
	border-top: 2px solid #A3CBD7;
	border-bottom: 2px solid #A3CBD7;
	margin: 10px 0 10px;
	padding: 5px 20px 5px;
	text-transform: uppercase;
}
.summer-time-box{
	padding: 10px 0 10px;
	display: block;
}
.summer-time-year{}
.summer-time-year ul{
	display: block;
	margin: 0;
	padding: 0;
}
.summer-time-year ul li{
	display: inline-block;
	margin-right: 10px;
}
.summer-time-year ul li a{
	color: #232323;
}
.summer-time-month{
	display: table;
	vertical-align: middle;
	width: 100%;
	margin: 0;
	padding: 5px 0 5px;
	border-bottom: 1px solid #cccccc;
}
.summer-time-month li{
	display: table-cell;
	vertical-align: middle;
	width: 1%;
	text-align: center;
}
.summer-time-year li a,
.summer-time-month li a{
	color: #232323;
}
.summer-time-year li.active a,
.summer-time-month li.active a{
	color: #0080FF;
}
.summer-table-item{
	display: table-cell;
	vertical-align: top;
	width: 50%;
	border-right: 1px solid #A3CBD7;
}
.summer-table-box:last-child{
	border-right: none;
}
.summer-list-title{
	display: block;
	vertical-align: middle;
	text-align: center;
	font-size: 16px;
	text-decoration: underline;
	margin-bottom: 5px;
}
.summer-list-title ul{
	display: table;
	vertical-align: middle;
	width: 100%;
}
.summer-list-title ul li{
	display: table-cell;
	vertical-align: middle;
	width: 80px;
	text-align: center;
	font-size: 16px;
	text-decoration: underline;
	margin-bottom: 5px;
}
.summer-list-title ul li:nth-child(1){
	width: auto;
}
.summer-list-box{
	display: block;
	max-height: 300px;
	margin: 0;
	padding: 0 5px 0;
	overflow: auto;
}
.summer-list-box li{
	border-bottom: 1px solid #cccccc;
}
.summer-list-box li:nth-child(1n){
	background-color: #ffffff;
}
.summer-list-box li:nth-child(2n){
	background-color: #E5F3F6;
}
.summer-item-box{
	display: table;
	vertical-align: middle;
	width: 100%;
}
.summer-item{
	display: table-cell;
	vertical-align: middle;
	width: 80px;
	text-align: center;
	padding: 10px 5px 10px;
}
.summer-item:nth-child(1){
	width: 40px;
}
.summer-item:nth-child(2){
	text-align: left;
	width: auto;
	color: #0E86AC;
}
.summer-item-box.summer-item-total{
	background-color: #E5F3F6;
}
.summer-item-box.summer-item-total .summer-item{
	font-size: 16px;
}
.summer-item-box.summer-item-total .summer-item:nth-child(1){
	width: auto;
	text-align: left;
	font-weight: bold;
	padding: 10px 20px 10px;
}
.summer-item-box.summer-item-total .summer-item:nth-child(2){
	text-align: center;
	width: 80px;
	color: #232323;
	font-weight: bold;
	padding: 10px 5px 10px;
}

/* =Pencapaian Grade 
------------------------- */
.pencapaian-grade-page{}
.gradepage-header-box{
	padding: 20px;
}
.gradepage-header-box .iconbox{
	float: right;
}
.gradepage-header-box h4{
	text-align: center;
	padding-top: 20px;
}
.gradepage-header-box h5{
	color: #939393;
	margin-top: 50px;
	padding-left: 80px;
}
.gradepage-header-level{
	display: block;
	width: 800px;
	margin: 30px auto 0;
}
.gradepage-header-level img{
	display: block;
	width: 800px;
	height: auto;
}
.gradepage-header-guest{
	display: table;
	vertical-align: top;
	width: 100%;
	padding: 10px 45px 5px;
}
.gradepage-header-guest li{
	display: table-cell;
	vertical-align: middle;
	width: 140px;
	text-align: center;
}
.gradepage-header-guest-item{
	display: block;
	margin: 0 auto;
}
.gradepage-header-guest-item p{
	font-size: 15px;
	margin: 0;
}
.segitiga {
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 15px 0 15px;
	border-color: #C6B88B transparent transparent transparent;
}
.gradepage-header-guest-item.user .segitiga{
	border-color: #C6B88B transparent transparent transparent;
}
.gradepage-header-guest-item.bronze .segitiga{
	border-color: #DA7D56 transparent transparent transparent;
}
.gradepage-header-guest-item.silver .segitiga{
	border-color: #CCCCCC transparent transparent transparent;
}
.gradepage-header-guest-item.gold .segitiga{
	border-color: #FDCA2B transparent transparent transparent;
}
.gradepage-header-guest-item.platinum .segitiga{
	border-color: #383838 transparent transparent transparent;
}
.gradepage-info-item.user .gi-status p,
.gradepage-info-item.user .gradepage-info-grade p,
.gradepage-header-guest-item.user p{
	color: #C6B88B;
}
.gradepage-info-item.bronze .gi-status p,
.gradepage-info-item.bronze .gradepage-info-grade p,
.gradepage-header-guest-item.bronze p{
	color: #DA7D56;
}
.gradepage-info-item.silver .gi-status p,
.gradepage-info-item.silver .gradepage-info-grade p,
.gradepage-header-guest-item.silver p{
	color: #CCCCCC;
}
.gradepage-info-item.gold .gi-status p,
.gradepage-info-item.gold .gradepage-info-grade p,
.gradepage-header-guest-item.gold p{
	color: #FDCA2B;
}
.gradepage-info-item.platinum .gi-status p,
.gradepage-info-item.platinum .gradepage-info-grade p,
.gradepage-header-guest-item.platinum p{
	color: #383838;
}
.gradepage-header-progress{
	display: block;
	width: 800px;
	margin: 0 auto;
}
.grade-progress-medium,
.grade-progress-big{
	display: block;
	margin: 0 auto;
	position: relative;
	width: 760px;
	padding: 0px 25px 0px;
}
.gp-back{
	display: block;
	position: relative;
	height: 40px;
	width: 710px;
}
.gp-back-top{
	display: block;
	background-color: #F2F3F1;
	position: absolute;
	height: 40px;
	z-index: 5;
	width: 100%;
}
.gp-back-left{
	background-color: #D97F59;
	display: block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	position: relative;
	float: left;
	left: -20px;
	z-index: 2;
}
.gp-back-right{
	background-color: #CCCCCC;
	display: block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	position: relative;
	float: right;
	right: -20px;
	z-index: 2;
}
.gp-middle{
	display: block;
	background-color: #DA7C59;
	position: absolute;
	top: 3px;
	left: 29px;
	height: 32px;
	width: 702px;
}
.gp-middle-top{
	display: block;
	background-color: #DA7C59;
	position: absolute;
	height: 28px;
	width: 100%;
	z-index: 6;
	top: 3px;
}
.gp-middle-left{
	background-color: #DA7C59;
	display: block;
	height: 34px;
	width: 34px;
	border: 2px solid #F2F3F1;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	position: relative;
	float: left;
	left: -20px;
	z-index: 8;
}
.gp-middle-right{
	background-color: #CCCCCC;
	display: block;
	height: 34px;
	width: 34px;
	border: 2px solid #F2F3F1;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	position: relative;
	float: right;
	right: -20px;
	z-index: 8;
}
.gp-middle-value-left{
	position: absolute;
	bottom: -35px;
	display: block;
	height: 25px;
	width: 90px;
	padding: 3px;
	color: #DA7C59;
	text-align: right;
	font-size: 13px;
	float: left;
	left: -80px;
	z-index: 8;
}
.gp-middle-value-right{
	position: absolute;
	bottom: -35px;
	display: block;
	height: 25px;
	width: 90px;
	padding: 3px;
	color: #CCCCCC;
	text-align: left;
	font-size: 13px;
	float: right;
	right: -80px;
	z-index: 8;
}
.progress.gp-progress{
	box-shadow: none !important;
	margin-bottom: 0 !important;
	height: 13px !important;
	position: absolute;
	z-index: 15;
	top: 13px;
	left: 57px;
	width: 644px;
	background-color: transparent !important;
	overflow: visible !important;
}
.gp-progress .progress-bar{
	background-color: #3E7B98;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	position: relative;
}
.gp-status{
	position: absolute;
	right: -43px;
	top: 28px;
	z-index: 30;
	padding: 3px;
	height: auto;
	width: 90px;
	text-align: center;
}
.gp-segitiga {
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 11px 8px 0 8px;
	border-color: #3E7B98 transparent transparent transparent;
}
.gp-status p{
	font-size: 14px;
	margin: 0;
	width: auto;
	color: #3E7B98;
}
.gradepage-info-box{

}
.gradepage-info-box h4{
	text-align: center;
	color: #939393;
}
.gradepage-info-item{
	padding: 20px 0 20px;
}
.gradepage-info-grade{
	vertical-align: middle;
}
.gradepage-info-grade img{
	display: block;
	margin: 10px auto 5px;
	width: 48px;
	height: auto;
}
.gradepage-info-grade p{
	font-size: 16px;
	text-align: center;
}
.gradepage-info-progress-box{
	vertical-align: middle;
	position: relative;
}
.gradepage-info-value-left,
.gradepage-info-value-right{
	display: inline-block;
	width: 50px;
	padding: 10px 2px 10px;
}
.gradepage-info-value-left{
	text-align: right;
	margin-right: 20px;
}
.gradepage-info-value-right{
	text-align: left;
	margin-left: 20px;
}
.progress.gi-progress{
	display: inline-block;
	box-shadow: none !important;
	height: 5px !important;
	width: 500px;
	background-color: #ECEDEF !important;
	overflow: visible !important;
	margin-top: 20px;
	vertical-align: middle;
}
.gi-progress .progress-bar{
	background-color: #C6B88B;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	position: relative;
}
.gi-status{
	position: absolute;
	right: -43px;
	top: 0px;
	z-index: 20;
	padding: 3px;
	height: auto;
	width: 90px;
	text-align: center;
}
.gi-line {
	display: block;
	margin: 0 auto;
	width: 3px;
	height: 13px;
	background-color: #C6B88B;
}
.gi-status p{
	margin: 0;
	color: #C6B88B;
}
.gradepage-info-desc{
	margin-top: 20px;
}
.gradepage-info-desc p{
	margin-bottom: 5px;
}
.gradepage-info-item.user .gi-progress .progress-bar,
.gradepage-info-item.user .gi-progress .progress-bar .gi-line{
	background-color: #C6B88B;
}
.gradepage-info-item.bronze .gi-progress .progress-bar,
.gradepage-info-item.bronze .gi-progress .progress-bar .gi-line{
	background-color: #DA7D56;
}
.gradepage-info-item.silver .gi-progress .progress-bar,
.gradepage-info-item.silver .gi-progress .progress-bar .gi-line{
	background-color: #CCCCCC;
}
.gradepage-info-item.gold .gi-progress .progress-bar,
.gradepage-info-item.gold .gi-progress .progress-bar .gi-line{
	background-color: #FDCA2B;
}
.gradepage-info-item.platinum .gi-progress .progress-bar,
.gradepage-info-item.platinum .gi-progress .progress-bar .gi-line{
	background-color: #383838;
}
.gradepage-header-level-status-box{
	display: table;
	vertical-align: top;
	margin: 0 auto;
	width: 90%;
	padding: 10px 0 10px;
}
.gradepage-header-level-status-left{
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	font-size: 18px;
	text-align: left;
}
.gradepage-header-level-status-right{
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	font-size: 18px;
	text-align: right;
}
.gp-side-box{
	display: block;
	background-color: transparent;
	position: absolute;
	top: 3px;
	left: 29px;
	height: 32px;
	width: 702px;
}
.gp-side-left{
	display: block;
	position: relative;
	float: left;
	left: -10px;
}
.gp-side-right{
	display: block;
	position: relative;
	float: right;
	right: -18px;
}
.gp-side-value-left{
	position: absolute;
	bottom: -26px;
	display: block;
	height: 25px;
	width: 90px;
	padding: 3px;
	color: #3E7B98;
	text-align: right;
	font-size: 13px;
	float: left;
	left: -59px;
	z-index: 8;
}
.gp-side-value-right{
	position: absolute;
	bottom: -26px;
	display: block;
	height: 25px;
	width: 90px;
	padding: 3px;
	color: #3E7B98;
	text-align: left;
	font-size: 13px;
	float: right;
	right: -51px;
	z-index: 8;
}
.grade-progress-medium .progress.gp-progress{
	background-color: #D1D5D6 !important;
}
.grade-progress-medium .progress.gp-progress .gp-status{
	top: 16px !important;
}
.grade-progress-medium-info-desc{
	margin-top: 120px;
}

/* =Saran Tempat
------------------------- */
.pencapaian-sarantempat-page{}
.recommendation-box{
	background-color: #DEDEE0;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 20px;
	margin-bottom: 20px;
}
.recommendation-box{}
.recommendation-box .item-horizontal .itemsub-photo{
	width: 140px;
}
.recommendation-box .item-horizontal .itemsub-photo img{
	width: 130px;
	height: 70px;
}
.itemsub-desc.accepted .iconbox{
	color: #08BD0B;
	font-size: 18px;
	line-height: 20px;
}
.itemsub-desc.rejected .iconbox{
	color:#E42A2F;
	font-size: 18px;
	line-height: 20px;
}
.recommendation-label{
	margin-top: 20px;
	margin-bottom: 20px;
}
.recommendation-label p{
	color: #7D7D7F;
	font-size: 18px;
	margin: 0;
}

















/* = 
------------------------- */
/* = 
------------------------- */
/* = 
------------------------- */
/* = 
------------------------- */
/* = 
------------------------- */


/* =FOOTER
------------------------- */
footer{
	display: block;
	background-color: #E62629;
	height: 300px;
	margin-top: 100px !important;
}


/* =DIALOG MODAL
------------------------- */
.only-content-dialog .item-horizontal .itemsub-photo{
	width: 100px;
}
.only-content-dialog .item-horizontal .itemsub-photo img{
	width: 100px;
	max-width: 100px;
	height: 60px;
}
.only-content-dialog .item-horizontal .itemsub-desc h4{
	margin: 0;
}
.only-content-dialog .user-item-box{
	width: 100%;
	border: none;
	margin: 0;
}
.only-content-dialog .user-item-box .user-item-photo{
	width: 50px;
	padding: 0;
}
.only-content-dialog .user-item-box .user-item-photo img{
	width: 36px;
	height: 36px;
}
.only-content-dialog .user-item-box .user-item-desc .user-item-desc-name{
	font-size: 18px;
}
.only-content-dialog .panel-bottom{
	padding: 0;
}
.only-content-dialog .panel-bottom p{
	margin: 0;
}
.only-content-dialog .user-item-box .user-item-action{
	width: 60px;
}
.only-content-dialog{}
.header-title-collabs{
	display: table;
	width: auto;
	border-bottom: 1px solid #eaeaea;
	padding: 5px 0 5px;
}
.header-list-collabs{}
.header-list-collabs input{
	margin-bottom: 10px;
}
.header-list-collabs-actionbox{
	
}
.header-list-collabs-info{
	text-align: center;
	width: 90%;
	margin-bottom: 10px;
}
.header-list-collabs-info h4,
.header-list-collabs-info a{
	font-size: 17px;
}

/* dialog pilih area */
.dialog-pilih-area{
	padding-bottom: 20px;
}
.dialog-pilih-area-list{
	margin: 0;
	padding: 0;
	display: block;
}
.dialog-pilih-area-list li{
	display: block;
	border-top: 1px solid #C5C5C5;
}
.dialog-pilih-area-list li:last-child{
	border-bottom: 1px solid #C5C5C5;
}
.dialog-pilih-area .modern-collapse-box{
	padding: 10px;
	margin-bottom: 0;
}
.dialog-pilih-area .modern-collapse-box h4{
	text-transform: uppercase;
}
.dialog-pilih-area .modern-collapse-content{
	border-top: 1px solid #C5C5C5;
	padding: 10px;
	margin-bottom: 0;
	background-color: #E8E9EB;
}
.dialog-pilih-area .modern-collapse-content ul{
	display: block;
	text-align: center;
	margin: 0;
	padding: 0;
}
.dialog-pilih-area .modern-collapse-content ul li{
	border: none;
	display: inline-block;
	margin: 5px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

/* =iPhone 4 */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
	
}

/* =BACKUP RESPONSIVE
-------------------------------------------------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (max-device-width : 767px){
	.container{
		width: 100% !important;
	}
}
