.lg-admin-wrap,
.lg-outer .lg-video-cont,
.lg-outer .lg-thumb-outer,
.lg-thumb-open .lg-toogle-thumb,
.lg-outer .lg-toogle-thumb,
.lg-toolbar.group 
{
/*padding-right: 420px;*/
}

.lg-actions .lg-next{
/*    margin-right: 420px;*/
  } 


.gallery-info-box{
    display: none;
}     
.lg
  .gallery-info-box{
    display: block;
    position: absolute;
    z-index: 1080;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    padding: 20px;
    background-color: white;
  }   
    
.slide-caption-wrap
        h4{
          margin-top: 0;
          font-size: 24px;
    }  
    
.slide-caption-wrap .frame-kanan {
 
    top: 0px;
    bottom: 0px;
    right: 0px;
    
    background: #fff;

}

.slide-caption-wrap .frame-kanan .infouser {
    float: left;
    border-bottom: 1px solid #dddddd;
    overflow: auto;

}
        
.slide-caption-wrap .frame-kanan .infouser .infouser-text {
	margin-top: -60px;
	margin-left: 81px;
}


       