
/*Menu wisata*/
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-xs-5ths {
	width: 20%;
	float: left;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	transition: opacity 200ms;
	/*visibility: visible;
	opacity: 1;*/
	visibility: hidden;
	opacity: 0;
	z-index: 9999;
	height: 100%;
	overflow-y: auto;
}

.overlay .cancel {
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: default;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
	/*visibility: hidden;
	opacity: 0;*/
}

#menu-kategori-wisata{
	background: #E8E6E7;
	-webkit-box-shadow: 1px 1px 0px 1px rgba(72,72,72,1);
	-moz-box-shadow: 1px 1px 0px 1px rgba(72,72,72,1);
	box-shadow: 1px 1px 0px 1px rgba(72,72,72,1);
	color:rgba(91,91,91,1);
	margin: 100px auto;
	position: relative;
	overflow-y: auto;
}
.fontgedekatdetail{
    font-size: 18px;
}
.box-kategori-wisata{
	color:rgba(91,91,91,1);
	background: rgba(255,255,255,1);
	border: 3px solid rgba(255,255,255,1);
	border-radius: 15px;
	margin: 20px 0;
	display: block;
}
.box-kategori-wisata:hover,
.box-kategori-wisata:focus{
	background: none;
	color:rgba(91,91,91,1);
	border: 3px solid #1BA768;
	cursor: pointer;
	text-decoration: none;
}

.box-kategori-wisata img{
	border-radius: 15px 15px 8px 8px;
}

.title-kategori-wisata {
	width: 65%;
	margin: 10px auto;
	height: 45px;
	display: inline-block;
	text-transform: capitalize;
}


/*Landing wisata*/

#landmark-wisata{
	margin: 15px 0;
	display: block;
	text-align: center;
	position: relative;
}

#landmark-wisata .image-block{
	width: 100%;
	background: #070707;
	padding: 2% 0 6.5%;
}
#landmark-wisata .image-block img {
	width: 45%;
	margin: 0 auto 10px;
	border-radius: 5px;
}

#landmark-wisata .title-block{
	text-align: center;
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#landmark-wisata label{
	border-radius: 7px;
	padding: 8px 20px 12px;
	background: rgba(255,255,255,1);
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	position: relative;
	margin-bottom: 13px;
}

#landmark-wisata label span{
	text-transform: uppercase;
	font-size: 1.7vw;
	/*font-size: 2.7vw;*/
	font-weight: normal;
	letter-spacing: 1px;
	color: #F2180F;
	/*border-bottom: 1px solid #F2180F;*/
	padding: 0 1em 1px;
}

.paging{
	background: rgba(255, 255, 255, 1);
	display: block;
	text-align: center;
	padding: 12px 8px 8px;
	font-size: 20px;	
}

.box-item-wisata{
	display: block;
	background: rgba(255,255,255,1);
	padding: 13px;
	margin: 17px 0;
        border-radius: 5px;
}


.box-item-wisata:hover{
	text-decoration: none;
        border-color: #a7a7a7;
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
       transform: translateY(-1px);
}

.box-item-wisata:hover .simpan-item-icon {
	display: block;
}

.box-item-wisata .simpan-item-icon {
	position: absolute;
	left: 7px;
	top: 7px;
	display: none;
	cursor: pointer;
}
.box-item-wisata .judul-item-wisata{
	line-height:0.8;
        margin-bottom: 0.1px;
}
.thumb-item-wisata{
	position: relative;
	display: inline-block;
	padding: 0;
        /*width: 340px;*/
}

.thumb-item-wisata img{
	border-radius: 3px;
        width: 100%;
        
}

/*.thumb-item-wisata:hover .simpan-item-icon {
	display: block;
}

.thumb-item-wisata .simpan-item-icon {
	position: absolute;
	left: 7px;
	top: 7px;
	display: none;
	cursor: pointer;
}*/

.simpan-item-icon img{
	background: rgba(50,50,50,.5);
	width: 35px;
	height: 35px;
	text-align: center;
	border-radius: 30px;
	padding: 4px;
}

.tooltips span {
	position: absolute;
	width: 76px;
	color: #FFFFFF;
	background: #000000;
	min-height: 40px;
	line-height: 19px;
	text-align: center;
	visibility: hidden;
	border-radius: 3px;
}

.tooltips span:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -8px;
	width: 0; height: 0;
	border-top: 8px solid #000000;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}

:hover.tooltips span {
	visibility: visible;
	opacity: 0.8;
	bottom: 45px;
	right: -20px;
	margin-left: -69px;
	z-index: 999;
}

.img-item-wisata{
	width: 16px;
	display: inline-block;
        margin-top: -3px;
}

.img-item-wisata2{
	width: 25px;
	display: inline-block;
}

.judul-item-wisata{
	margin-top: 0;
	color: rgb(51, 51, 51);
}

.atribut-item-wisata{
	margin:0;
	/*color: rgba(200,200,200,1);*/
	color: #88888A;
	font-weight: lighter;
        line-height: 28px;
}

.atribut-item-wisata .kekanandetailatas{
  margin-left: 10px;
  font-size: 15px  
}

.atribut-item-wisata .kekanandetailatasbuka{
  font-weight: bolder;  
    font-size: 15px;  
  color:#4d4949;    
}
    .deskripsi-item-wisata{
	color: rgba(130,130,130,1);	
        margin-top: 10px;
}

.container-judul-item .judul-item-wisata{
	float: left;
	width: 100%;
	display: table-cell;
}

.container-judul-item{
	display: table;
	width: 100%;
        line-height: 0px; 
}


.container-judul-item .atribut-item-wisata{
	width: 84px;
	display: table-cell;
	text-align: right;
	vertical-align: top;
}

@media (max-width: 767px) {
	#landmark-wisata .image-block{
		background: none;
		padding: 0;
	}
	#landmark-wisata .image-block img {
		width: 100%;
	}

	#landmark-wisata label{
		margin-bottom: 10px;
	}

	#landmark-wisata label span{
		font-size: 2.7vw;	
	}
}


@media (min-width: 768px) {
	.col-sm-5ths {
		width: 20%;
		float: left;
	}
}


@media (min-width: 992px) {
	.col-md-5ths {
		width: 20%;
		float: left;
	}
}


@media (min-width: 1200px) {
	.col-lg-5ths {
		width: 20%;
		float: left;
	}
}