/* typography.css *
* Copyright 2016 
* Template by hyriu (http://hyriu.web.id)
*
* CSS Reset
* Headings
* Hyperlink
* Subscript and Superscript
* Paragraf
* Font-Family
* Misc class for general use
* Content
*
*/ 

/* =CSS Reset : reset default browser style
-------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
input, button, select, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figcaption, figure, footer, header,
hgroup, nav, section {
	color: #232323;
	font-size: 13px; 
	line-height: 18px;
	font-weight: 400;
	font-family: 'Roboto', Open Sans, Helvetica, Arial, sans-serif;
}


/* =Headings
------------------------------------------------------------ */
h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-family: inherit;
	/*font-weight: bold;*/
	line-height: 20px;
	color: inherit;
	text-rendering: optimizelegibility;
}
h1, h2, h3 {line-height: 40px;}
h1 {font-size: 36px;}
h2 {font-size: 30px;}
h3 {font-size: 24px;}
h4 {font-size: 18px;}
h5 {font-size: 14px;}
h6 {font-size: 12px;}

/* =Hyperlink
------------------------------------------------------------ */
a{
	transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
}
a:link {color: #0080FF; text-decoration: none;}
a:visited {color: #0080FF; text-decoration: none;}
a:hover {
	color: #0052A4 !important;
	text-decoration: none !important;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
}
a:hover, a:active {outline: 0 0 !important;}
a:focus{outline: 0 !important;}

a.disable{
	pointer-events:none;
	opacity: 0.7;
	cursor: default;
}
a:hover.disable{
	text-decoration: none !important;
	cursor: default;
}

/* =Font-Family
------------------------------------------------------------ */
@font-face{
	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto-Light.ttf');
	src: url('../fonts/Roboto-Light.ttf') format('truetype');
}
@font-face{
	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto-Medium.ttf');
	src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face{
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf');
	src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot');
	src: url('../fonts/fontawesome-webfont.woff') format('woff'),
	url('../fonts/fontawesome-webfont.woff2') format('woff2'),
	url('../fonts/fontawesome-webfont.ttf') format('truetype'), 
	url('../fonts/fontawesome-webfont.svg') format('svg');
}

/* =Misc class for general use 
------------------------------------------------------------ */
/* Font Weight */
.bold {font-weight: bold;} .italic {font-weight: italic;} .normal {font-weight: normal;}

/* Text Align */
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center, .center {
	text-align: center;
}
.float-none{
	float: none;
	margin: 0 auto 0 auto;
}

/* Font Color */


/* =Responsive Typography
-------------------------------------------------------------- */
/* Resolution 1280 */
@media only screen and (max-width:1280px) {

}

/* Resolution 1024 */
@media only screen and (max-width:1024px) {
	
}

/* Resolution 900 */
@media only screen and (max-width : 900px){

}

/* Resolution 800 */
@media only screen and (max-width:800px) {
	
}

@media only screen and (max-width:767px){

}
/* Resolution 600 */
@media only screen and (max-width:600px) {

}

/* Resolution 480 */
@media only screen and (max-width:480px){

}

/* Resolution 320 */
@media only screen and (max-width:320px) {

}
