.main-header{
  background-color: #f2180f;
  color: #fff;
  min-height: 80px;
}

.box-provinsi-text{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
#main-provinsi{
  /*margin: 10px auto;*/
 text-align:center;

}

input.pilihan[readonly]{
  width: 150px;
  background-color: white;
}

.alert3,.alertmasakan3{
  margin: 0;padding:10px;position: absolute;top: 50%;left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);background-color:black;color:white;
}

span.pilihanx{
  position: absolute;right: 5px;top: 0;bottom: 0;height: 14px;margin: auto;font-size: 14px;cursor: pointer;color: #ccc;
}

a.a_inline{
  /*display: inline-block;*/
}
.fullwidth{
  width: 100% !important;
  /*display:inline-block;*/
}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
#modal-daerah>.modal-dialog>.modal-content{
  border-radius: 0px;
}
#modal-daerah>.modal-dialog>.modal-content>.modal-body{
  text-align: center;
}
.box-provinsi{
  cursor: pointer;
  border:2px solid #fff;
  margin-right:  5px;
  margin-left: 5px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 5px;
  background-color:white;
  min-height: 100px;
  width: 120px;
  display:inline-block;
  /*position: absolute;*/
  /*float: left;
  display: none;*/
}
.box-provinsi.active{
  border:2px solid lawngreen;
}
.box-kabupaten.active{
  border:2px solid lawngreen;
}
.box-kabupaten{
  cursor: pointer;
  border:2px solid #fff;
  margin-right: 5px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 5px;
  background-color:white;
/*  min-height: 150px;*/
  width: 120px;
  display:inline-block;
  -webkit-transition: opacity 11s linear, right 11s ease-out;
     -moz-transition: opacity 11s linear, right 11s ease-out;
       -o-transition: opacity 11s linear, right 11s ease-out;
          transition: opacity 11s linear, right 11s ease-out;
          /*position: absolute;*/
          right: 0;
          /*display: none;*/
}

#modal-daerah>.modal-dialog>.modal-content>.modal-body{
  background-color: #efefef;
  min-height: 300px;
}
	.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 100%;
		/*height: auto;*/
    -webkit-transition: opacity 0.6s linear, right 0.6s ease-out;
		   -moz-transition: opacity 0.6s linear, right 0.6s ease-out;
		     -o-transition: opacity 0.6s linear, right 0.6s ease-out;
		        transition: opacity 0.6s linear, right 0.6s ease-out;
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		/*height: 100%;*/
		/*overflow-y: auto;*/
	}

	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 8px;
	}


/*Right*/
	.modal.right.fade .modal-dialog {
		right: -3220px;
    -webkit-transition: opacity 0.6s linear, right 0.6s ease-out;
		   -moz-transition: opacity 0.6s linear, right 0.6s ease-out;
		     -o-transition: opacity 0.6s linear, right 0.6s ease-out;
		        transition: opacity 0.6s linear, right 0.6s ease-out;
	}

	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

  .form-group.input-provinsi{
    position:relative;
    text-align:center;
  }
  .input-provinsi input, .input-kabupaten input{
    border-radius: 15px;
    padding: 2px 10px;
    height: 25px;
  }
  #searchkabupaten[readonly],#searchprovinsi[readonly] {
      width: 150px;
      background-color: white;
  }
  #kabupatenclear {
      position: absolute;
      right: 5px;
      top: 0;
      bottom: 0;
      height: 14px;
      margin: auto;
      font-size: 14px;
      cursor: pointer;
      color: #ccc;
  }
  #provinsiclear {
      position: absolute;
      right: 5px;
      top: 0;
      bottom: 0;
      height: 14px;
      margin: auto;
      font-size: 14px;
      cursor: pointer;
      color: #ccc;
  }

  .hide{
    display: none;
  }
  .img-daerah{
    width: 100%;
    min-height: 130px;
  }

  .boxdaerah{
    text-align:center;
    display:inline-block;
    width:100%;
    position:absolute;
    top:25px;
  }

  .logotext{
    display: inline-block;z-index: 10;top: 0px;position: relative;
  }

  @media(max-width:1000px){
    .boxdaerah{
      width: 90%;
      /*left: 300px;*/
      top: 20px;
    }
  }

  @media(max-width:750px){
    .boxdaerah{
      width: 50%;
      left: 250px;
      top: 20px;
    }
  }

  @media(max-width:600px){
    .boxdaerah{
      left: 300px;
    }
  }

  @media(max-width:502px){
    .boxdaerah{
      left: 250px;
    }
  }
  @media(max-width:445px){
    .boxdaerah{
      left: 220px;
    }
  }
  @media(max-width:400px){
    .logotext{
      display: none;
    }
    .boxdaerah{
      left: 190px;
    }
  }

#modal-daerah>.modal-dialog>.modal-content>.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
#modal-daerah>.modal-dialog>.modal-content {
    max-height: calc(100vh - 100px);
}

#modal_filter2.modal,#modal_filter_masakan.modal{
  background-color: transparent;
}

/*#modal_filter2.modal>.modal-dialog,#modal_filter_masakan.modal>.modal-dialog{
  background-color: black;
  opacity: 1;
}*/

.checkbox-filter2{
  display: inline-block;
}

.mat-label {
  display: block;
  font-size: 16px;
  transform: translateY(25px);
  color: #e2e2e2;
  transition: all 0.5s;
}

.mat-input {
  position: relative;
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 40px;
  font-size: 16px;

}

.mat-div {
  padding: 30px 0 0 0;
  position: relative;
}

.mat-div:after, .mat-div:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e2e2e2;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.mat-div::after {
  background-color: #f2180f;
  transform: scaleX(0);
}

.is-active::after {
  transform: scaleX(1);
}

.is-active .mat-label {
  color: #8E8DBE;
}

.is-completed .mat-label {
  font-size: 12px;
  transform: translateY(0);
}
.slider-handle{
  background-color: white;
  background-image:linear-gradient(to bottom,white 0,white 100%);
  border: 2px solid white;
}
#slider12a .slider-track-high, #slider12c .slider-track-high {
	background: #e8e7e7;
}

#slider12b .slider-track-low, #slider12c .slider-track-low {
	background: #e8e7e7;
}

#slider12c .slider-selection {
	background: #f2180f;
}

.panel-default>.panel-heading.white{
  background-color: white;
  border: none;
  color: #918d8d;

}
.white>.panel-body{
}
.panel.masakan{
  background-color: #efefef;
  border: none;
  -webkit-box-shadow:0 0px 0px rgba(0,0,0,.05);
  box-shadow: 0 0px 0px rgba(0,0,0,.05);
  margin-bottom: 0px;
}
/*modal filter*/
#modal_filter1>.modal-dialog>.modal-content>.modal-body{
  background-color: #efefef;
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}
#modal_filter2>.modal-dialog>.modal-content>.modal-body,#modal_filter_masakan>.modal-dialog>.modal-content>.modal-body{
  background-color: #efefef;
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}
.hg-from>.form-group>input{
  height: 30px;
  padding: 6px 6px;
}
#slider12c>.tooltip{
  display: none;
}
/*.checkbox{
  margin-top: 10px;
}*/
.checkbox+.checkbox, .radio+.radio {
     margin-top: 10px;
}

.carret_next{
  position: absolute;
}
a.filter-a-next{
  color: #f2180f;
}

/*label.custom-checkbox > [type="checkbox"]:not(:checked) + label:before,
	label.custom-checkbox > [type="checkbox"]:checked + label:before {

	}
  input[type="checkbox"]:checked + label::after {
   content: '';
   position: absolute;
   width: 2ex;
   height: 2ex;
   background-color: red;
   top: 0ex;
   left: 0ex;
   border: 1px solid red;
   border-top: none;
   border-right: none;

}

input[type="checkbox.red_cb"] {
   line-height: 2.1ex;
}

input[type="radio.red_cb"],
input[type="checkbox.red_cb"] {
    position: absolute;
    left: -999em;
}

input[type="checkbox.red_cb"] + label {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

input[type="checkbox.red_cb"] + label::before {
   content: "";
   display: inline-block;
   vertical-align: -25%;
   height: 2ex;
   width: 2ex;
   background-color: white;
   border: 1px solid white;
   border-radius: 4px;
   box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
   margin-right: 0.5em;
}*/

.modal{
    overflow-y: auto;
}

.modal-body>.filter{
  color: #918d8d;
}

.pointer{
  cursor: pointer;
}

input[type=checkbox].red_cb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px; /*Desired width*/
    height: 10px; /*Desired height*/
    cursor: pointer;
    border: 1px solid #CCC;
    border-radius: 2px;
    background-color: #fcfbfb;
    display: inline-block;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
    color: black;
    box-sizing: content-box;
}

input[type="checkbox"].red_cb:checked {
    position: absolute;
    background-color: #FFF;
    border-radius: 2px;
    border: 1px solid #CCC;
     box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);

     color: black;
    cursor: pointer;
    box-sizing: content-box;
}

input[type="checkbox"].red_cb:checked:before {
    content: '';
    background: #f2180f;
    position: absolute;
    width: 10px;
    height: 10px;
    box-sizing: content-box;
}

.modal-body>.huruf-filter{

}

.modal-back{
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: absolute;
  opacity: 0.5;
}

.selected{
  padding: 3px;
  padding-left: 5px;
  background-color: white;
  position: relative;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #918d8d;
}
.dellall{
  position: relative;
  display: inline-block;
}
#filter_checked{
  position: relative;
  display: inline-block;
}
.dellall-kategori{
  position: relative;
  display: inline-block;
}
.dellall-masakan{
  position: relative;
  display: inline-block;
}
.dellall_tujuan{
  position: relative;
  display: inline-block;
}
.dellall-fasilitas{
  position: relative;
  display: inline-block;
}
.dellall-citarasa{
  position: relative;
  display: inline-block;
}
.dellall-caramasak{
  position: relative;
  display: inline-block;
}
#pilihanmasakan2{
  position: relative;
  display: inline-block;
}
.badges-filter{
  display: inline-block;
  position: absolute;
  left:120px;
  top: -3px;
  background-color: #F89406;
  color: #fff;
  padding: 5px 8px;
  border-radius: 50%
}

.m-header{
  text-align:center;display:inline-block;position: absolute;
}

.logo_modal_daerah{

}

.white{
  color: white;
}

button.white>span{
  color: white;
  /*padding-top: 10px;*/
  cursor: pointer;
}
.modal-header>.close{
  padding-top: 10px;
  min-height: 10px;
}

.white:hover{
  color: white;
  cursor: pointer;
}
.modal-close{
  float: right;
  font-size: 30px;
  color: white;
}

.modal-close:hover{
  cursor: pointer;
  z-index: 1000;
}

.p12{
  padding-left: 12px;
  padding-right: 12px;
}

.hrga{
  background-color: white;
padding: 5px;
border: 1px solid #918d8d;
display: block;
}
.form-button {
    height: 34px;
    padding: 6px 20px;
    background-color: #fff;
    border: 0;
    border-radius: 15px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-button.active{
  background-color: orange;
  color: white;
}
.closem{
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 12px;
  top: 30px;
}
input[type='text'].search-map{
  line-height: 34px;
font-size: 18px;
padding: 0 45px 0 20px;
border: 1px solid #fff !important;
border-radius: 15px;
}
.white{
  background-color: white;
  color:black !important;
}
