<link rel="stylesheet" type="text/css" href="review_rating.css">
<script type="text/javascript" src="../assets/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="review_rating.js"></script>
<span class="rating-value">0</span>
<div class="rating-box">
	<span class="rating-item rating-item-1" value="1"></span>
	<span class="rating-item rating-item-2" value="2"></span>
	<span class="rating-item rating-item-3" value="3"></span>
	<span class="rating-item rating-item-4" value="4"></span>
	<span class="rating-item rating-item-5" value="5"></span>
	<span class="rating-item rating-item-6" value="6"></span>
	<span class="rating-item rating-item-7" value="7"></span>
	<span class="rating-item rating-item-8" value="8"></span>
	<span class="rating-item rating-item-9" value="9"></span>
	<span class="rating-item rating-item-10" value="10"></span>
</div>