.rating-box
{
	height: 18px;
	position: relative;
	display: flex;
}

.rating-item-1
{
	border: 1px solid #e80f0a;
}
.rating-item-1.active
{
	background-color: #e80f0a;
}
.rating-item-1--color
{
	/*color: #e41108 !important;*/
}
.rating-item-2
{
	border: 1px solid #ef1818;
}
.rating-item-2.active
{
	background-color: #ef1818;
}
.rating-item-2--color
{
	/*color: #ed1916 !important;*/
}
.rating-item-3
{
	border: 1px solid #f4740b;
}
.rating-item-3.active
{
	background-color: #f4740b;
}
.rating-item-3--color
{
	/*color: #f67309 !important;*/
}
.rating-item-4
{
	border: 1px solid #f98630;
}
.rating-item-4.active
{
	background-color: #f98630;
}
.rating-item-4--color
{
	/*color: #f9852e !important;*/
}
.rating-item-5
{
	border: 1px solid #f4c914;
}
.rating-item-5.active
{
	background-color: #f4c914;
}
.rating-item-5--color
{
	/*color: #f4c914 !important;*/
}
.rating-item-6
{
	border: 1px solid #f8e26f;
}
.rating-item-6.active
{
	background-color: #f8e26f;
}
.rating-item-6--color
{
	/*color: #f8e26f !important;*/
}
.rating-item-7
{
	border: 1px solid #a4ddc5;
}
.rating-item-7.active
{
	background-color: #a4ddc5;
}
.rating-item-7--color
{
	/*color: #a4ddc5 !important;*/
}
.rating-item-8
{
	border: 1px solid #6fc9a6;
}
.rating-item-8.active
{
	background-color: #6fc9a6;
}
.rating-item-8--color
{
	/*color: #6fc9a6 !important;*/
}
.rating-item-9
{
	border: 1px solid #18c814;
}
.rating-item-9.active
{
	background-color: #18c814;
}
.rating-item-9--color
{
	/*color: #18c814 !important;*/
}
.rating-item-10
{
	border: 1px solid #037b00;
}
.rating-item-10.active
{
	background-color: #037b00;
}
.rating-item-10--color
{
	/*color: #037b00 !important;*/
}

.rating-item
{
	width: 10px;
	margin-right: 1px;
	border-radius: 2px;
}

.rating-value
{
	color: #e80f0a;
	font-family:'Roboto';
	font-size:30px;
}